[2017-08-22 21:51] johnjohndoe opened #3 "Search / filtering functionality"
@sedrubal [wrote](https://github.com/tuxmobil/CampFahrplan/issues/116):

[2017-08-27 21:41] johnjohndoe opened #4 "Add changelog for users"
Inform users about changes introduced in a new version.

Libraries:
- [ckChangeLog](https://github.com/cketti/ckChangeLog)
- [ChangeLog Library](https://github.com/gabrielemariotti/changeloglib)

---

This issue was migrated from https://github.com/tuxmobil/CampFahrplan/issues/56.

[2017-08-27 21:52] johnjohndoe opened #5 "Error prone data type definition "STRING" for database columns"
# Problem

Currently, some database columns such as for the "lectures" table [define the data type "STRING"](https://github.com/tuxmobil/CampFahrplan/blob/Version_1.30.4/app/src/main/java/nerd/tuxmobil/fahrplan/congress/FahrplanParser.java#L533tt). This is not a native SQLite data type. By the rules of [column affinity](http://www.sqlite.org/datatype3.html) this [is mapped into the storage class "

[2017-08-27 21:59] johnjohndoe opened #6 "Fetching the Fahrplan cannot be cancelled"
Given the app tries to fetch the schedule and the server is not reachable. Then it is not possible to **cancel** the fetch process.

[2017-09-02 12:08] johnjohndoe opened #7 "Show scrollbars"
The different views (details, favorites, changes*) are scrollable but do **not** show scrollbars when users scroll. The alarms screen shows scrollbars.

_*not verified yet._

[2017-09-02 12:10] johnjohndoe opened #8 "Clickable email and web addresses"
Session texts can contain **email** and **web addresses**. Make them clickable.
Web addresses might not be prefixed with `http://` or `https://`.

# Pretalx
When session texts originate from [Pretalx](https://pretalx.com) then authors have the option use Markdown to format text. See screenshot:

![image](https://user-images.githubusercontent.com/144518/113775906-a0abd080-9729-11eb-8d60-c30dc8c5c3a

[2017-09-02 12:17] johnjohndoe opened #9 "Unique favorites in backstack"
Currently, the favorites fragment can be added **more than once** to the backstack.

# How to reproduce
1. Open favorites from the toolbar menu
2. Open any event details by clickling on an event
3. Open favorites from the overflow menu
4. Press `back` to pop the favorites and see the event details again
5. Press `back` again

## Observed behavior
- Favorites are shown

## Expected behavior
- Full

[2017-09-02 12:28] johnjohndoe opened #10 "Icons for time, place, identifier in event details"
The status bar at the top of the detail screen shows the time, place and identifier of an event as show in the screenshot:

![eventdetails](https://user-images.githubusercontent.com/144518/29995480-5e8f0a2c-8fea-11e7-9ae3-a0fe855e6a0a.png)

# TODOs
- [x] Add meaningful and clear **icons** for each element.
- [x] Icons must be vector drawables, based on SVG.
- [x] Define custom colors for `ccc35c3`

[2017-09-02 12:39] johnjohndoe opened #11 "Remove unneeded whitespace on favorites screen"
The favorites screen has a lot of white space as indicated in the following screenshot:

![Favorites](https://user-images.githubusercontent.com/144518/29995551-355f9124-8fec-11e7-8698-cd0fcdb5fa11.png)

The whitespace happens to be there when **no text** for the _abstract_ has been provided.
Remove unneeded white space.

[2017-09-02 12:41] johnjohndoe opened #12 "Watch later"
As a user I want to mark an event for "watch later" when the recording of the event will be available.

[2017-09-02 12:50] johnjohndoe opened #13 "Don't show identical texts twice"
# Current status
- An event can be described by the authors via two sections of text: `abstract` and `description`.
- In some cases authors simply write on text and **copy** parts or the whole texts into the other section.
- This causes that the same text shows up twice in the app. As a user I don't want to read the same text twice.

# Target status
- [ ] Identical text paragraphs in the `abstract

[2017-09-03 11:39] johnjohndoe opened #14 "Day selection lost on rotation (> Android 6.0)"
- This issue was already reported by @ninov and a first fix can be found in https://github.com/ligi/CampFahrplan/pull/8.
- I could narrow the problem down: it only occurs on devices running Android 7.0 or Android 8.0.

# How to reproduce
1. Select day three
2. Rotate device

## Observed behavior
- Day one is selected
- Reproduced on Android 8.0

![rotation-android-8 0](https://user-images.githubus

[2017-09-03 13:25] dsfranzi opened #15 "Multiple push notifications for single schedule update"
During MRMCD17, I received multiple push notifications for any single schedule update. The first notification would display the correct changes. Every following notification would display "0 changes".

System:
* OS: Android 6.0
* Manufacturer / Model: LG G4 H815

[2017-10-23 18:35] johnjohndoe opened #16 "SSLHandshakeException / SSLProtocolException: handshake aborted: Failure in SSL library, usually a protocol error (Android 4)"
# Environment
- Android 4.1.2
- Samsung GT-I8190

# How to reproduce
1. Install [`Datenspuren v.1.33.0-Datenspuren-Edition` app](https://github.com/johnjohndoe/CampFahrplan/tree/v.1.33.0-Datenspuren-Edition) (DEBUG or RELEASE)
2. Start app
3. SSL certficate dialog is shown

# Expected behavior
- SSL dialog can be confirmed. Data is fetched.

# Observed behavior
- Failure dialog reappears on confir

[2017-10-26 21:08] johnjohndoe commented on #16
@stefanmedack for your reference

[2017-10-27 08:01] stefanmedack commented on #16
@johnjohndoe are you still looking for a solution? We may have had the same problem with some Androids (not all) running 4.1 up to 4.4. I can post a possible solution here, but it is a little bit of code :)

[2017-10-27 13:44] johnjohndoe commented on #16
Please go ahead. You are welcome.

[2017-11-01 20:24] #16 closed

[2017-11-01 22:36] johnjohndoe opened #17 "NullPointerException in UpdateService.onParseDone"
Crash report from a user:

- sent: 20.10.2017
- 1.33.0 (Datenspuren Edition)
- Android Version: 4.4.2
- Phone Model: CHC-U01

# Stacktrace

[code]

# Log

[code]

[2017-11-01 22:46] #17 closed

[2017-12-16 14:23] johnjohndoe opened #18 "NullPointerException in FahrplanFragment.onAlarmTimesIndexPicked"
# Environment
- v.1.33.0 ... v.1.68.0

# How to reproduce
1. Long tap any event
2. Select "Set alarm" option
3. Leave "Choose alarm time" dialog and rotate the device
4. Tap the "OK" button

!["Choose alarm time" dialog](https://user-images.githubusercontent.com/144518/34071315-ed573fc2-e274-11e7-9502-a3d58adc5c0c.png)

# Expected behavior
- "Choose alarm time" dialog closes

# Observed behavior
-

[2017-12-17 18:27] grote opened #19 "TraceDroid-1.1.jar prevents F-Droid inclusion"
F-Droid doesn't allow arbitrary `jar` files in the source tree, because it needs to ensure that the source code for the entire app is available and free.

It seems that `TraceDroid-1.1.jar` is coming from https://github.com/ligi/tracedroid

Why don't you simply include it like this instead of using a jar?

[code]

[2017-12-17 23:01] Wikinaut opened #20 "Use white textcolours for dark background colours"
Improve readability by using white textcolour for "dark" backgrounds.

See https://en.wikipedia.org/w/index.php?title=Web_colors&oldid=651498112#X11_color_names (*) for a nice overview (when to use black, when to use white textcolour).

(*) newer versions of this page do unfortunately not visualize the contrast differences.

See here for something different: random generation of "nice" colours:

*

[2017-12-18 09:31] johnjohndoe commented on #19
I believe the library was only available as a `jar` when I added it in dd80e8d2209393497f9881dc6740574f60f66e26 - I do not quite remember. We can certainly use the dependency reference instead. Do you want to prepare a pull request?

[2017-12-18 12:28] eNBeWe opened #22 "Very sensitive swiping in portrait mode"
When using the app in portrait orientation the swiping gesture to move to the next/previous room is very slow. This leads to usually swiping too fast and switching all the way to the first/last room.

System:
Nexus 5X
LineageOS 14.1, Android 7.1.2

Version:
1.33.0

[2017-12-19 08:12] fgau commented on #20
![screenshot_20171219-081027](https://user-images.githubusercontent.com/8269366/34146980-5f37f90a-e49c-11e7-94da-0c9be42c59ba.png)
event_title I think needs to change to white

[2017-12-19 09:09] johnjohndoe commented on #20
I think I might be able to look into that Wednesday night (20.12) or Friday (22.12.).

[2017-12-19 09:33] Wikinaut commented on #20
@fgau your screenshot: perfect!

[2017-12-19 09:46] johnjohndoe opened #23 "NullPointerException in FahrplanMisc.loadLecturesForDayIndex()"
Crash report from a user:

- sent: 19.12.2017
- 34C3, v.1.33.0
- Android Version: 4.4.2
- Phone Model: SM-T320
- TraceDroid Version: 1.1

# User action

# Stacktrace
[code]

# Log
[code]

[2017-12-19 19:08] #20 closed

[2017-12-19 19:37] #19 closed

[2017-12-20 00:05] Wikinaut commented on #20
Sorry, not okay! The new version has for example "Dude, you broke the future" almost unreadable on my Android (white text on bright yellow background). Please use black textcolor for bright backgrounds.

[2017-12-20 00:07] #23 closed

[2017-12-20 08:59] johnjohndoe commented on #20
@Wikinaut Thank you for the feedback. Right now I am rolling out the white text color in version 1.33.1. I might be able to adjust colors again for the next release. Meanwhile, I would be interested in which device you are using (model, brightness settings, redshift app, ...) so I can test the app in your environment.

[2017-12-20 09:03] Wikinaut commented on #20
@johnjohndoe HUAWEI P8 LITE 2017
And pls. again, I mean, that

* **white** text for dark backgrounds ; **and***
* **black** text for bright backgrounds.

Example: see the **color** **names** in the table on https://en.wikipedia.org/w/index.php?title=Web_colors&oldid=651498112#X11_color_names

[2017-12-21 16:53] alberanid opened #24 "Favorite items with yellow background are difficult to read"
Hi,
in version 1.33.1, events with a yellow-ish background become hard to read, when added to favorites (white text on a bright yellow background).
Items in all other colors are easy to read.

See the attachment; I'm using a Nexus 5x.

![image](https://user-images.githubusercontent.com/222857/34265922-c4133330-e677-11e7-8220-fead02eb7810.png)

[2017-12-21 16:57] alberanid commented on #24
I guess that's related to #20 :-)

[2017-12-21 17:17] johnjohndoe commented on #24
True. I missed that one. I am going to fix this in the next version.

[2017-12-21 23:31] #24 closed

[2017-12-22 10:26] vidister opened #25 "Only highlight the current time on the left border when it is the selected day"
The actual behaviour is that the time is highlighted no matter which day is selected. That can lead to confusion and people sitting in the rooms on the wrong day.

[2017-12-22 13:54] LukasQ opened #26 "Readability art&culture overview type"
Hello there
In the overview, could you please change white on yellow to a more readable black on yellow or switch to a different BG color?
Not really good to read on OnePlus 5 and other bright screens.

[2017-12-22 18:43] Noxmiles opened #27 "Optional: Favourite Sharing without link to the events"
I Love the Sharing Feature, but it's a very long Text If you Share it over Smartphone Messenger. Can you add an option for sharing without the Links to the events and/or make less whitespace between the events?

[2017-12-22 18:46] Noxmiles commented on #22
Yes, this is a Problem. If you don't know it, it seems Like there are only 2 rooms.

[2017-12-23 15:29] johnjohndoe commented on #25
Thank you for reporting this. I remember this has been fixed for 33C3 but the commit got lost somehow. I will include the fix in the next version.

[2017-12-23 15:49] johnjohndoe commented on #22
Thank you for reporting the issue. At the moment I cannot reproduce it - the problem does not occur on the device (Nexus 5, Android 6.0.1) I am using. I would love to try adjusting the `SWIPE_MIN_DISTANCE` and `SWIPE_THRESHOLD_VELOCITY` - but I cannot do that without the device. If you can compile the app yourself and try different values I would be interested in the values you come up with. The r

[2017-12-23 16:09] #25 closed

[2017-12-24 12:34] johnjohndoe commented on #27
@Noxmiles Thank you for your feature request. I am glad you find the sharing feature useful.

I can imagine an option to customize the content of the shared lecture/s in the app settings. Users could select the parts of a lecture which are included resp. excluded. This setting would apply both to sharing an individual lecture and to sharing the favorites list.

Do you think this would satisfy your

[2017-12-25 16:03] Wikinaut commented on #20
Bitte die Farbe für den Text des Tracks (rechts untere Ecke auch noch verbessern).

[2017-12-25 16:04] Wikinaut opened #29 "Please improve also "Track" textcolours"
see  Use white textcolours for dark background colours #20

[2017-12-26 09:38] Noxmiles commented on #27
That would be perfect! Really useful .

[2017-12-27 09:00] sedrubal opened #30 "Feature: Add favourites to calendar"
At least for angels it was nice if there was an iCal export for the system calendar. Then you could add your shifts and favourite talks to the calendar an immediately see collisions. If you could subscribe to your favourites (in order to get updates) this was even better.

[2017-12-27 15:18] johnjohndoe commented on #30
You can add individual favorites from the app to your calendar right now. There is no mass export such as ical yet.

Please explain what you mean by subscribing to your favorites.

[2017-12-27 17:30] sedrubal commented on #30
I mean that the app works as stand alone calendar provider adding a new calendar source to the calendar app. Thus if you mark a new talk as favourite it will automatically appear in the calendar app...

[2017-12-27 19:09] rumgewieselt opened #31 "Self Organized Sessions?"
Is it possible to integrate Self organized Sesions?
Thanks for your effort.

BR

[2017-12-27 19:10] akmet opened #32 "Android App only the four main halls"
On my Android device (7+) I cannot see any room except the 4 main halls.

Downloaded the App yesterday from the Playstore.

[2017-12-27 20:26] johnjohndoe commented on #31
I am currently working on it. I had to wait for the C3VOC to provide the wiki export. Please sign up as a **beta tester** in [Google Play](https://play.google.com/store/apps/details?id=info.metadude.android.congress.schedule) to receive the app earlier.

[2017-12-27 20:27] johnjohndoe commented on #32
Please follow issue #31.

[2017-12-27 20:27] #32 closed

[2017-12-27 22:04] #29 closed

[2017-12-27 22:04] #31 closed

[2017-12-27 22:07] johnjohndoe commented on #31
Beta version is rolling out now!

[2017-12-27 23:14] torantal opened #33 "Misplaced resp. multiple time column highlights"
Day 2 of 34c3. 0:10 28.12

The current time highlighted is at the end of day 2 instead of the start

Actually it should highlight at the end of day 1

# Hints
- The original schedule data of the `34C3` event can be requested from @johnjohndoe to analyze this issue.

# Related
- [Issue #105: Current time marker](https://github.com/EventFahrplan/EventFahrplan/issues/105)
- [Issue #167: Time column n

[2017-12-27 23:16] Wuestenschiff opened #34 "Release play service free Version"
Please make this App available as APK and or in f-droid.

Play Services are not acceptable for all congress users

[2017-12-27 23:23] hkahl opened #35 "Current time marker disappears after midnight"
Today (day 1) I was browsing through the talks on the first day. The current time is marked on the left side, but after midnight it disappears. When I switch to day 2, I see the current time is marked there.

[2017-12-27 23:51] johnjohndoe commented on #34
The [app is already available on F-Droid](https://f-droid.org/packages/info.metadude.android.congress.schedule/). The service is however having **technical issues themselves** which results in that the latest version of the 34C3 app is not available there.

[2017-12-27 23:51] #34 closed

[2017-12-27 23:54] johnjohndoe commented on #35
Thank you for reporting this issue. Please follow up on #33.

[2017-12-27 23:54] #35 closed

[2017-12-28 12:36] maksumuto opened #36 "Wrong day as default"
Everytime I open the App, I see day one as default. That's not a good idea on day 2 and later.

[2017-12-28 13:17] johnjohndoe commented on #36
Thank you for reporting the issue. Please follow up on #14.

[2017-12-28 13:17] #36 closed

[2017-12-28 15:43] eNBeWe commented on #22
I didn't find direct contact Info for you @johnjohndoe You can reach me at DECT 2311, so we can have a look together.

[2017-12-28 15:49] johnjohndoe commented on #22
Can we meet around 17:30 at c-base assembly? I will try to call you.

[2017-12-28 19:35] eNBeWe commented on #22
A follow-up after our recent analysis: What do you think about splitting the function of the two constants:
Velocity: Select between fling or touch logic
Distance: Number of swiped columns if flinging
?

I would see if I can get a toolchain running and try that out if you like the idea.

[2017-12-28 19:37] johnjohndoe commented on #22
Sounds reasonable to investigate. I would certainly clean up the code before (variable names, formatting).

[2017-12-28 23:05] johnjohndoe commented on #22
@eNBeWe I did a basic cleanup of the code in `HorizontalSnapScrollView` [here](https://github.com/EventFahrplan/EventFahrplan/pull/38) - it would be nice if you could review it. Feel free to comment - the code changes are not final.

[2017-12-29 13:06] tagru opened #39 "F-Droid app not up to date"
Is it possible to get the F-Droid app in sync with the playstore app on android so it shows the small rooms as well?

[2017-12-29 15:26] johnjohndoe commented on #39
F-Droid is facing technical problems since before the start of the 34C3. That results in long waiting for the release of new versions. I have no influence on their process and can therefore not help on that side.

What you can do to get the full schedule is to load the full schedule manually:

1. Go to settings
2. Enter this URL as an alternative schedule URL:

3. Refresh the schedule via the menu

[2017-12-29 18:14] tagru commented on #39
Works, thank you!

[2017-12-29 18:14] #39 closed

[2017-12-29 18:32] rugk commented on #39
Awesome! Works?

[2017-12-29 18:41] psuet opened #40 "Only show relevant Fahrplan Changes"
Hi,

the Fahrplan is updated quite often with many new Talks and Information about those. Unfortunately its hard to see these changes, because the "changelog" is showing all changes and not only the information for events running now or in the Future which would be more relevant.

[2017-12-29 18:55] johnjohndoe commented on #40
That's a valid point which I noticed too. I imagine a filter for favored events would also make sense.
I would like to work on this in the next time - you are welcome too. Thank you for reporting the issue.

[2017-12-29 19:26] Tomatower commented on #14
fixed in pr #41

[2017-12-29 20:35] MaxValue opened #42 "Stay at current scroll position when going back from event details view"
It is really beneficial for the normal user workflow to stay at the current scroll position.

At the moment, the app **always scrolls back to the current time** and the user has to scroll all the way down again.

Many users go through the schedule and try to decide which lectures/talks to go to.

# Enviroment

- Device vendor: Lenovo/ZUK
- Device model: [ZUK Z1](https://www.gsmarena.com/lenovo_zuk

[2017-12-29 22:02] hkahl opened #43 "incomplete time line when swtiching to day 1"
It is 22:35, day 3 and I am browsing the talks on day 3. When I switch to day 1, the time line on the left side ends at 19:15. All the talks are displayed but after 19:15 no time.
It does not matter if I switch from day 2 or day 4 to day 1, the problem always occurs on day 1. No other day seems to have this problem. Landscape/Portrait makes no difference.

App Version 1.33.3
Samsung T320 Tablet
An

[2017-12-30 02:02] johnjohndoe commented on #43
Thank you for reporting the issue. If you can reproduce the bug it would be helpful if you can edit your text and add screenshots.

[2017-12-30 02:04] johnjohndoe commented on #42
Thank you for reporting the issue. Can you please provide additional information such as what exactly you do to reproduce the error and which device, Android version, app version you use? Please edit your text above.

[2017-12-30 02:14] johnjohndoe commented on #14
# Intermediate analysis

- The [deprecated `ActionBar.OnNavigationListener.onNavigationItemSelected()`](https://developer.android.com/reference/android/app/ActionBar.OnNavigationListener.html) callback for the day selection dropdown returns an item position of `1` after a device rotation on Android 7.1.1.
- Android 6.0 to be investigated.

[2017-12-30 11:48] Wikinaut opened #44 "[Suggestion] Add user option to suppress "New version" notification pop-up"
see subject.

[2017-12-30 15:31] AlbrechtStriffler opened #45 "[Feature] Allow rating of talks from within the app"
During the congress, we are encouraged to rate the talks. Right now, this seems to only be possible via the link provided on https://events.ccc.de/, but not natively from inside the app.
Unfortunately, rating via the web site is pretty clunky and not optimized for mobile.
Would it be possible to add this feature?

[2017-12-30 15:48] johnjohndoe commented on #45
Thank you for pointing this out. I might be able to add the feature soon after the congress.

[2017-12-30 16:08] MaxValue commented on #42
Updated :)

[2017-12-30 20:31] johnjohndoe commented on #44
Thank you for your suggestion. Please have look at #15 - it deals with a similar case. Once resolved update notifications should be reduced to a minimum.

[2017-12-30 22:43] rugk opened #46 "Detach repo"
Can you please detach this repo from the not maintained fork?

You can this either [do it manually](https://www.quora.com/Git-revision-control-How-can-one-detach-a-forked-project-in-GitHub#ld_fjxjzo_52503) **or** – which I recommend – just contact the GitHub support to do it for you.

This…
1. shows that this is a real maintained project and not just a repo of someone who (once) made a pull reques

[2017-12-30 23:21] johnjohndoe commented on #46
@rugk Thank you for the suggestion. @tuxmobil started and grew the project over many years and stopped for his own reasons about two years ago. Therefore he should be credited for his work as you mentioned.
Actually, I linked to tuxmobil's repository on purpose by contacting the GitHub support. The repository was not linked at its creation time due to technical reasons.
I also credited @tuxmobil i

[2017-12-31 00:19] #45 closed

[2017-12-31 00:58] #14 closed

[2017-12-31 13:27] Onkeliroh opened #47 "Select current day by default"
I would like the app to select the current day by default. At the moment the app opens alsways with day one selected.

[2017-12-31 13:30] johnjohndoe commented on #47
Thank you for reporting the issue. This is actually a known bug which I fixed yesterday night. Please sign up as a beta tester in Google Play - the bug is fixed in the current beta version - please test if it works for you.

[2017-12-31 13:30] #47 closed

[2017-12-31 16:18] AlbrechtStriffler commented on #45
That was quick, thanks! Do you have a date for the 1.33.4 release yet? (Trying to decide wether to wait for the release or maybe do the rating on the events.ccc.de page.)

[2017-12-31 17:08] johnjohndoe commented on #45
@AlbrechtStriffler I released the version yesterday night in the beta channel of Google Play. If you sign up as a beta tester there then you can update immediately. The link can be found at the bottom of the Google Play page of the app.

[2017-12-31 17:20] johnjohndoe commented on #30
Thank you for the explanation. Since others also asked for an integration with the _Engelsystem_ I talked to _Heaven_ about technical options.
Right now I can see the option to load personal angel shifts into the app as a separate column. I do not see the app acting as a stand alone calendar provider in the near future. I keep your feature request open as reminder until someone works on the integr

[2018-01-01 11:42] torantal opened #48 "Include links to recordings"
Is there information available to update infos on past talks with links to https://media.ccc.de / [chaosflix](https://github.com/NiciDieNase/chaosflix)?

If so, the app would remain a very valuable tool after the last conference to rewatch favourites or discover more.

[2018-01-01 13:42] #44 closed

[2018-01-01 13:57] johnjohndoe commented on #48
Thank you for your feature request. I worked on this in the past and will look into it again. I also noticed the new [ChaosFlix](https://github.com/NiciDieNase/chaosflix) app and the [cccTV](https://github.com/stefanmedack/cccTV) app. An integration would be interesting indeed. I however did not manage to meet @NiciDieNase nor @stefanmedack during 34C3 to brainstorm about it.

[2018-01-02 18:30] stefanmedack commented on #48
Sounds like a good idea to pool our knowledge and code. Maybe we could use the Berlin Meetup Slack to get a discussion starting?

[2018-01-02 19:19] johnjohndoe commented on #48
I would like to keep the discussion as transparent as possible and therefore prefer staying here.

[2018-01-02 20:44] johnjohndoe opened #49 "DeadSystemException in ConnectivityManager.getActiveNetworkInfo"
Crash report from a user:

- sent: 28.12.2017
- 1.33.1
- Android Version: 7.1.2
- Phone Model: GT-I9195

# Stacktrace
[code]
# Log
[code]

[2018-01-02 22:08] johnjohndoe commented on #49
Issue can't be reproduced. Added logging to be captured in crash report, see abbc59ee433730d2876b005fdf8657d4dc838678. Closing issue.

[2018-01-02 22:08] #49 closed

[2018-01-02 22:33] johnjohndoe opened #50 "NullPointerException in FahrplanMisc.addAlarm"
Crash report from a user:

- sent: 29.12.2017
- 1.33.1
- Android version: 6.0.1
- Device model: MotoG3

# Stacktrace
[code]

# Log
[code]

# User report

# Related issues

- Issue #18 appears to related.

[2018-01-03 23:56] Salamandar opened #51 "Allow force tablet mode"
The tablet mode (splitted with calendar + event view) could be great also on smartphone.
A settings togglebutton could force the mode.

[2018-01-04 20:10] alexanderadam commented on #39
Oh no! I thought that both versions would be the same.
Will it happen again next year? Or is an application update for such cases not necessary any more?

[2018-01-04 20:21] johnjohndoe commented on #48
@saerdnaer @MaZderMind Would it be possible to include links to recordings in the _schedule.xml_ once they are published?

[2018-01-04 20:28] johnjohndoe commented on #48
@stefanmedack @NiciDieNase Do your apps support an intent filter for the host `media.ccc.de`? If the schedule app opens such an URL your app could take over the request.

[2018-01-04 20:51] johnjohndoe commented on #39
@alexanderadam I had the same expectations. However, F-Droid could not resolve its build pipeline problems during the congress. See [activity log](https://f-droid.org/wiki/index.php?title=Special:RecentChanges&limit=500&hidebots=0&days=14).
Next year we have to think about alternative, reliable distribution channels.

[2018-01-04 21:34] rugk commented on #39
APK to GitHub releases, if you really need it. But it's all fine now, is not it? As long as you don't break compatibility a slightly older version of the app can still work and now we have the feature to include self-organized sessions.

[2018-01-05 10:23] stefanmedack commented on #48
The [cccTV App](https://github.com/stefanmedack/cccTV) does not yet have intent filter for media.ccc.de, because it does not make sense for a TV-only App. However, I will definitely add it to a future mobile App version.

[2018-01-05 21:21] NiciDieNase commented on #48
I'm currently working on handling media.ccc.de urls in chaosflix (touch).

[2018-01-07 15:18] Siltaar opened #52 "Download selected talks from media.ccc.de"
Once you've chose the talks you want to attempt, it looks straight forward to be asked which talks you really attended.

Then, a common usage I noticed during the 34c3 is to spend time each of the last days of the event to download the talks you wanted to be in, but missed… So what about downloading All selected talks or All missed talks from the EventFahrplan app directly on your phone ? (to watc

[2018-01-07 18:14] johnjohndoe commented on #52
@Siltaar Thank you for your feature request. As you can read in #48 I am planning to integrate with [ChaosFlix](https://github.com/NiciDieNase/chaosflix) and [cccTV](https://github.com/stefanmedack/cccTV). We still have to figure out the details but we will certainly pick up your idea. Stay tuned.

/cc @nicidienase + @stefanmedack

[2018-01-11 20:53] johnjohndoe commented on #22
@eNBeWe Can you please add the Android version you are running on your Nexus 5X above? I tried a Nexus 6, Android 5.1.1 but could **not** reproduce the swiping behavior.

[2018-01-11 22:10] eNBeWe commented on #22
I am using LineageOS 14.1, resulting in Android 7.1.2

[2018-01-12 10:37] johnjohndoe opened #53 "Migrate database(s) to Room"
# Current state
- Four separate databases are used to store _lectures_, _meta_, _alarms_, _highlights_ (aka. _favorites_).
- Databases are accessed via custom classes extending `SQLiteOpenHelper`.
- SQL code fragments is spread throughout the applications.
- Inter-table logic is implemented programmatically not on the database level due to separate databases.
- No unit tests.

# Target state
- [x]

[2018-01-15 19:04] johnjohndoe commented on #22
@Noxmiles Can you please post the specs of your device?

[2018-01-19 10:16] johnjohndoe commented on #22
The cleanup branch has been merged here: 6753a52de1e4d482bac02e907503058347764194

[2018-01-21 00:43] Noxmiles commented on #22
@johnjohndoe Moto Z Play. Android 7.1.1. 1920 x 1080 @ 5,5" 16:9 (~400ppi). I could make a video of the problem if you want.

[2018-01-21 17:59] johnjohndoe commented on #22
@Noxmiles Thank you. The video is not needed since I can in general reproduce the behavior. I just have no access to the relevant devices myself. I update the list above to include your device.

[2018-02-02 13:24] bzz opened #55 "Feature request: room status support"
AFAIK that is the first year when room status is available thought API at https://sojourner.loomchild.net/#/tracks

It would be grateful to incorporate it into the app somehow, so people could make more confident decisions attending the tracks.

[2018-02-05 20:33] johnjohndoe commented on #55
@bzz Thank you for your feature request. This feature was announced by Mark Van den Borre at 30.12.2017 via email to a number of application maintainers targeting the [FOSDEM conference](https://fosdem.org). As a result of the conversation some apps implemented the feature while others suggested that the feature needs a standardization and buy-in from all conference management systems (Pentabarf,

[2018-02-05 20:33] #55 closed

[2018-03-21 21:20] #15 closed

[2018-03-29 20:51] johnjohndoe opened #56 "Use targetSdkVersion 23 (Marshmallow)"
# Background
- [Meet Google Play's target API level requirement](https://developer.android.com/distribute/best-practices/develop/target-sdk)
- [Android 6.0 Changes](https://developer.android.com/about/versions/marshmallow/android-6.0-changes)

# Current state
- `targetSdkVersion 22`
- Permissions are granted at install time via Google Play.

# Target state
- [ ] `targetSdkVersion 23`
- [ ] Remove/

[2018-03-29 21:01] johnjohndoe opened #57 "Use targetSdkVersion 24 (Nougat)"
# Background
- [Meet Google Play's target API level requirement](https://developer.android.com/distribute/best-practices/develop/target-sdk)
- [Android 7.0 Behavior Changes](https://developer.android.com/about/versions/nougat/android-7.0-changes)
- [Optimize for Doze and App Standby](https://developer.android.com/training/monitoring-device-state/doze-standby)
- [Monitor for changes in connectivity

[2018-03-29 21:06] johnjohndoe opened #58 "Use targetSdkVersion 25 (Nougat)"
# Background
- [Meet Google Play's target API level requirement](https://developer.android.com/distribute/best-practices/develop/target-sdk)
- [Android 7.0 Behavior Changes](https://developer.android.com/about/versions/nougat/android-7.0-changes)
- [Optimize for Doze and App Standby](https://developer.android.com/training/monitoring-device-state/doze-standby)

# Current state
- `targetSdkVersion 2

[2018-03-29 21:11] johnjohndoe opened #59 "Use targetSdkVersion 26 (Oreo)"
# Background
- [Target API level requirements for the Play Console](https://support.google.com/googleplay/android-developer/answer/113469#targetsdk)
- [Meet Google Play's target API level requirement](https://developer.android.com/distribute/best-practices/develop/target-sdk)
- [Android 8.0 Behavior Changes](https://developer.android.com/about/versions/oreo/android-8.0-changes)
- [Improving app se

[2018-03-29 21:19] johnjohndoe opened #60 "Migration XML parser to JSON parser"
# Current state
- Schedule data is downloaded as XML.
- `XmlPullParser` is used to parse the data, see `FahrplanParser#ParserTask#parseFahrplan()`.

# Target state
- Schedule data is downloaded as JSON.
- [Moshi](https://github.com/square/moshi) is used to parse data.
- Kotlin is used for the implementation
- The parser is encapsulated in a standalone library. For inspiration: [c3media-base](https

[2018-05-13 22:13] johnjohndoe opened #61 "Broken time column rendering with event time of 00:00:00"
# Environment
- App/version: GPN, v.1.33.5
- Branch: [gpn-2018](https://github.com/johnjohndoe/CampFahrplan/tree/gpn-2018)
- Device: Nexus 9, Android 7.1.1

# How to reproduce
- Start the GPN app
- Navigate to day 3 from the top menu

# Observed behavior
- The dark time column view on the left side only shows the time entry of the first event as shown in the screenshot:
![gpn-1 33 4-screenshot](ht

[2018-05-28 18:56] johnjohndoe opened #62 "IllegalArgumentException: unexpected url: text / Validate alternative schedule URL"
The manually entered alternative schedule URL should be validated as early as possible.

- Branches: [pgcon-2018](https://github.com/EventFahrplan/EventFahrplan/commit/f7fe19d23886a8cb2d6967ec1b6884faf768f7c7), master, ...

# How to reproduce
1. Open settings
2. Enter `text` as the `Alternative schedule URL`.
3. Return to the time table screen.
4. Reload the schedule from the overflow menu.

# Exp

[2018-06-11 12:51] white-gecko opened #63 "Could not find common.jar (android.arch.core:common:1.0.0)."
When I've cloned and tried to import the EventFahrplan into my IDE I received a sync error.
executing `./gradlew test` on the terminal results in:

[code]

[2018-06-17 12:11] johnjohndoe commented on #63
@white-gecko I tried to reproduce the issue by first manually **removing** the artifact from the Gradle cache and then executing `./gradlew test`. I see the artifact is being **downloaded successfully** and I can check that in the Gradle cache.

[code]

Can you still reproduce the issue on your machine on current `master`?

[2018-06-19 11:16] white-gecko commented on #63
It works on the latest master. Thank you.

[2018-06-19 11:16] #63 closed

[2018-06-19 11:42] johnjohndoe commented on #63
You are welcome. Thanks for raising the issue.

[2018-06-23 23:15] johnjohndoe opened #66 "UpdateService causes IllegalArgumentException: unexpected url:"
Crash report from a user:

- sent: 23.06.2018
- 1.33.4 (Droidcon Berlin Edition)
- Android version: 6.0.1
- Device model: Redmi Note 3

# Stacktrace
[code]

# Log
[code]

[2018-06-23 23:43] johnjohndoe commented on #66
Resolved in https://github.com/johnjohndoe/CampFahrplan/commit/e8b84230eeebf3b66fb48d4c06109c6ea9a86212. Released in [v.1.33.5-Droidcon-Berlin-Edition](https://github.com/johnjohndoe/CampFahrplan/releases/tag/v.1.33.5-Droidcon-Berlin-Edition).

[2018-06-23 23:43] #66 closed

[2018-06-25 10:54] johnjohndoe opened #67 "UnknownHostException: Unable to resolve host"
Crash report from a user:

- sent: 25.06.2018
- 1.33.5 (Droidcon Berlin Edition)
- Android version: 8.0.0
- Device model: H4113

# Stacktrace
[code]

# Log
[code]

[2018-06-25 12:08] johnjohndoe commented on #67
Fixed in https://github.com/johnjohndoe/CampFahrplan/commit/d57570751c97e2925fe09971d2fcd052a02ae240. Release in [v.1.33.6-Droidcon-Berlin-Edition](https://github.com/johnjohndoe/CampFahrplan/releases/tag/v.1.33.6-Droidcon-Berlin-Edition).

[2018-06-25 12:08] #67 closed

[2018-06-26 14:51] johnjohndoe opened #68 "NullPointerException: Meta.getNumDays() in LecturesAdapter"
Crash report from a user:

- sent: 26.06.2018
- 1.33.6 (Droidcon Berlin Edition)
- Android version: 8.0.0
- Device model: ONEPLUS A3003

# Stacktrace
[code]

# Log
[code]

[2018-06-26 15:09] johnjohndoe commented on #68
Fixed in https://github.com/johnjohndoe/CampFahrplan/commit/244bcd6c8babc2fc3c069241013950fd117ff2fc. Release in [v.1.33.7-Droidcon-Berlin-Edition](https://github.com/johnjohndoe/CampFahrplan/releases/tag/v.1.33.7-Droidcon-Berlin-Edition).

[2018-06-26 15:09] #68 closed

[2018-07-02 20:42] johnjohndoe opened #69 "Event time or device time"
Date and time are shown in different parts of the app such as:

- Time column on the side of the tabular view
- Event details
- Share message
- Calendar export

Users should be able to choose how the date/time is displayed such as:

- Based on the time zone of where the event takes place (event time or local time)
- Based on the time zone settings of their device (device time or home time)

---

:

[2018-07-02 20:53] johnjohndoe opened #70 "Date and time system settings"
Date and time are shown in different parts of the app such as:

- Time column on the side of the tabular view
- Event details
- Share message
- Calendar export

Date and time formatting in these places is hardcoded in the app.
The app should respect formatting preferences of the device resp. user such as:

- Use 24-hour format

---

:point_up: Side note for the implementation: the long term goal i

[2018-07-30 19:34] #56 closed

[2018-08-11 12:40] johnjohndoe opened #71 "Crash on notification receive: NullPointerException: Attempt to invoke interface method 'java.lang.Object kotlin.Lazy.getValue()' on a null object reference"
Crash report from @johnjohndoe:

- sent: 25.08.2018
- [1.34.0 (FrOSCon Edition)](https://github.com/johnjohndoe/CampFahrplan/releases/tag/v.1.34.0-FrOSCon-Edition)
- Android version: 9
- Device model: Pixel 2

# Stacktrace
[code]

# Log
[code]

# How to reproduce
1. Set the system date to the date of the conference.
2. Schedule an alarm for an event in the past of the current day.

# Expected beha

[2018-08-11 20:47] #71 closed

[2018-08-11 21:52] johnjohndoe commented on #71
# Explanation
- The crash only occurred on devices running Android 26 or higher because there is a SDK switch which prevents the invocation of the lazy delegate.  Thanks to @runningcode for pointing this out.

# Related article
- [An in-depth look at Kotlin’s initializers](https://medium.com/keepsafe-engineering/an-in-depth-look-at-kotlins-initializers-a0420fcbf546)

[2018-08-19 07:53] johnjohndoe opened #73 "Extract schedule fetcher and parser into module"
# Current state
- `FetchFahrplan`, `FahrplanParser` and related classes are located in the "app" module.
- These classes contain references to the rest of the "app" module back and forth.

# Target state
- Remove all dependencies to the "app" module in the "network" code.
- Extract `FetchFahrplan`, `FahrplanParser` and related classes into a "network" module.
- Add "network" models for data types

[2018-08-19 11:59] #73 closed

[2018-08-25 13:39] johnjohndoe commented on #68
Fixed in https://github.com/johnjohndoe/CampFahrplan/commit/d9b48611dfc2338ac91d978a9b7c7284e62a6e11. Release in [v.1.34.2-FrOSCon-Edition](https://github.com/johnjohndoe/CampFahrplan/releases/tag/v.1.34.2-FrOSCon-Edition).

[2018-09-05 17:14] #57 closed

[2018-09-13 16:05] johnjohndoe commented on #58
:heavy_check_mark:  There were **no new** Lint warnings about code deprecation cause by an increase of the `targetSdkVersion`.
:x: Circular app icon supported will not be addressed at this point.

[2018-09-13 16:18] #58 closed

[2018-09-17 19:33] mueller-ma opened #80 "Improve F-Droid listing"
I've seen this app on F-Droid, but it lacks screenshots, changelog and a translatable description there. It's pretty easy for you to add these information. Please have a look at [this example](https://github.com/Freeyourgadget/Gadgetbridge/tree/master/fastlane/metadata/android) or at the [F-Droid docs](https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/#in-the-apps-source-

[2018-09-18 17:00] johnjohndoe commented on #80
Thank you for bringing up this issue.

The [34C3 app](https://f-droid.org/en/packages/info.metadude.android.congress.schedule/) has been added by @grote to F-Droid, see #19 and [fdroiddata #2744](https://gitlab.com/fdroid/fdroiddata/merge_requests/2744). I will need to take a look into the mechanics of F-Droid to resolve your request. Please stay tuned - I will keep you updated when I have time to

[2018-09-21 23:00] johnjohndoe opened #81 "EventDetailFragment: IllegalArgumentException: Parameter specified as non-null is null: parameter event"
Crash report from a user:

- sent: 22.09.2018
- Version: [1.36.1 (Datenspuren Edition)](https://github.com/johnjohndoe/CampFahrplan/releases/tag/v.1.36.1-Datenspuren-Edition)
- Android version: 8.1.0
- Device model: MI 8

# Stacktrace
[code]

# Log
[code]

[2018-10-05 21:48] johnjohndoe opened #82 "Adaptive launcher icon"
- [Understanding Android adaptive icons](https://medium.com/google-design/understanding-android-adaptive-icons-cee8a9de93e2)
- [Designing adaptive icons](https://medium.com/google-design/designing-adaptive-icons-515af294c783)
- [Implementing adaptive icons](https://medium.com/google-developers/implementing-adaptive-icons-1e4d1795470e)
- [VectorDrawable adaptive Icons](https://medium.com/androiddev

[2018-10-08 14:36] CamiloAvila commented on #82
Hi. I would like to try to solve this one, can I?

[2018-10-08 18:02] johnjohndoe commented on #82
Here is the [SVG file](https://github.com/EventFahrplan/EventFahrplan/files/2457091/34C3_WHITE_two_rows.svg.zip) which I used to create the logo. I used [Android Asset Studio](https://github.com/tibbi/AndroidAssetStudio) to create the actual PNGs. The hexcode of the lighter red tone is `#a62237` - the shade is applied by the Android Asset Studio

[2018-10-13 16:15] RuchiraGamage commented on #82
Hi,i would like to solve this issue
@johnjohndoe

[2018-10-14 13:15] johnjohndoe commented on #82
Hi @RuchiraGamage. As you can see above @CamiloAvila already offered to work on this issue. Until now I have not heard from him. @CamiloAvila, can you please state if you still want to work on this issue and if is possible that @RuchiraGamage can collaborate with you?

[2018-10-16 13:54] CamiloAvila commented on #82
@johnjohndoe I have a problem, and i think that i can not work in this issue, @RuchiraGamage can you help him?

[2018-10-16 15:41] RuchiraGamage commented on #82
yes i m trying to complete that task but still i have some problems with
configuring things may be with sdk version

On Tue, Oct 16, 2018 at 7:24 PM Camilo Andres Avila Muñoz <
notifications@github.com> wrote:

--
*Tharindu Ruchira Gamage*
*Undergraduate,*
Faculty of Information Technology,
University of Moratuwa.
Sri Lanka.
Mobile : +94774904215
Email :htruchira@gmail.com
contact me via: LinkedIn

[2018-10-16 18:04] johnjohndoe commented on #82
@CamiloAvila Thanks for the status update.
@RuchiraGamage Please post any issue you have with the project here. I will try to resolve it with you.

[2018-10-20 15:02] johnjohndoe commented on #82
Alternatively to [Android Asset Studio](https://github.com/tibbi/AndroidAssetStudio) you can also use Android Studio itself to create an adaptive icon.

@RuchiraGamage Do you think you can submit a pull request before Oct 24 - I would like to prepare and release a new version with the [1.37.0 milestone](https://github.com/EventFahrplan/EventFahrplan/milestone/11). If you don't have time I can help

[2018-11-15 12:50] johnjohndoe commented on #81
# How to reproduce, scenario 1
1. Load a schedule update which contains a **new** event entry.
2. The schedule changes dialog is shown. Tap the `Browse` button.
3. The changes list is shown. Tap the **new** event item.

# How to reproduce, scenario 2
1. Load a schedule update which contains a **new** event entry.
2. The schedule changes dialog is shown. Tap the `Later` button.
3. Select the overfl

[2018-11-16 17:10] johnjohndoe opened #85 "Travis CI: Trigger release builds"
# Current state
- The [configuration for Travis CI](https://github.com/EventFahrplan/EventFahrplan/blob/master/.travis.yml#L37) triggers a **debug** build via the script entry:
`./gradlew clean test assembleDebug`.

# Target state
- The configuration for Travis CI triggers a **release** build.
- A dummy signing configuration is required for the release build.

# Motivation
- Executing a release bu

[2018-11-19 16:15] AndyScherzinger commented on #82
@johnjohndoe I created a PR which should solve this for `ccc34c3` -> #86

[2018-11-22 15:57] #81 closed

[2018-11-24 16:10] johnjohndoe commented on #42
I noticed that the position to which the schedule view is scrolled to depends on a few more factors:

### Scenario 1: The day is today and portrait mode
- Scrolls to the time block of the current time

### Scenario 2: The day is today and landscape mode
- Scrolls to the top of the column

### Scenario 3: The day is not today and portrait or landscape mode
- Scrolls position is as before

[2018-11-29 16:16] #82 closed

[2018-11-30 14:50] #59 closed

[2018-12-21 08:08] saerdnaer opened #92 "Change date parsing"
please use date time parsing library (e.g. SimpleDateFormat, c.f. https://stackoverflow.com/questions/13515168/android-time-in-iso-8601)  instead of manually splitting the date, thanks!

https://github.com/EventFahrplan/EventFahrplan/blob/545c22eadc54951d75c0bd00641c7e3660a3dcde/app/src/main/java/nerd/tuxmobil/fahrplan/congress/models/Lecture.java#L117-L128

[2018-12-21 09:51] johnjohndoe opened #93 "Broken time column rendering with 35c3 schedule"
# Environment
- App version: v.1.37.0, v.1.38.0
- Branch: `master`
- Device: not relevant
- Schedule: Configure [35c3 everything.schedule.xml snapshot](https://github.com/voc/35C3_schedule/raw/b72d21c1042af37f9da09428e1225e18e4502db2/everything.schedule.xml)

# How to reproduce
- Start the app
- Navigate to day 2 or day 3 from the top menu
- Pan to the room `OIO Vortrags-Arena` to see the earliest

[2018-12-22 12:41] exmatrikulator opened #96 "favorites using id and not guid"
at the schedule file (https://raw.githubusercontent.com/voc/35C3_schedule/master/everything.schedule.xml)
share some events the same id.

if you mark one event in the app as favorite, you have multiple events marked.

[2018-12-22 14:48] johnjohndoe commented on #96
@exmatrikulator Can you please provide an example? Feel free to link to the lines in the file.

[2018-12-22 16:35] exmatrikulator commented on #96
like on of
- HackspaceDesignPatterns
- Die eigene Stimme hacken
- Freifunk IoT
- Die Wochendämmerung

and you have liked all of them

[2018-12-22 18:41] johnjohndoe commented on #96
@saerdnaer Does the backend check for the uniqueness of ids?

[2018-12-23 09:34] saerdnaer commented on #96
„Backend“... No only for guid not for the local id. Wiki IDs Start from  1000 - I can add an static offset  of 200 for the pretalx sources, but then would exist favorites break... Also I have to analyse which source uses which I’d range. Another solution are string prefixes, Or does EventFahrplan require the Id to be an integer?

The long term solution for EventFahrplan is to switch to uuid.

[2018-12-23 11:40] saerdnaer commented on #96
As a quick fix, I addded id offsets with https://github.com/voc/schedule/commit/932d9049a8f2e79ea5e120c89ff4fc3b3eda6bc2

[2018-12-23 11:50] johnjohndoe opened #97 "FahrplanFragment: IllegalStateException: setSelectedNavigationIndex not valid for current navigation mode"
Crash report from users:

- Sent: 19.12.2018
- App version: [1.37.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.37.0), [1.38.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.38.0)
- Android version: 8.1.0; 8.0.0
- Device model: Nexus 5; SM-G950F; Redmi Note 4

# Stacktrace
[code]

# Log
[code]

[2018-12-23 11:59] johnjohndoe commented on #96
@saerdnaer Thank you for fast patch!
@exmatrikulator Can you please verify and let us know if this solves the problem on your side? I believe you need to fetch the recent schedule data at least once.

[2018-12-23 19:14] poschi3 commented on #93
I investigated some time in this issue and found out, that for day 2 in the calculateTimeFrame method the "firstEvent" is "Geschichten aus der Cobol Gruft" from Chaos West. That's a bit strange, because regarding to there website the time slot is on [day 1 from 23:00–23:50](https://fahrplan.chaos-west.de/35c3chaoswest/talk/GBVHJT/).

I've searched for the event in the view and found out, that Even

[2018-12-23 19:18] exmatrikulator commented on #96
looks better, thanks!

[2018-12-23 20:05] johnjohndoe commented on #93
Thank you. The offset might be due to the mixed time zone offsets as reported here: https://github.com/voc/schedule/issues/35

[2018-12-23 20:53] #96 closed

[2018-12-24 12:38] johnjohndoe commented on #80
@Bubu Thank you. I did not notice that the product flavor was still pointing to `ccc34c3`. Thank you also for the conversion to YML.

[2018-12-24 13:14] knobhead commented on #31
Hmm, where did this feature go? 🤔
Any way to — scriptedly — combine fahrplan schedule and SOS wiki export to a common xml?

[2018-12-24 13:47] johnjohndoe commented on #31
@knobhead The _Self Organized Sessions_ are contained in the current version of the [35c3 Schedule app for Android v.1.38.0](https://play.google.com/store/apps/details?id=info.metadude.android.congress.schedule). In any case the @voc maintains the aggregation of the schedule data. If you have any issue with the content aka. schedule data please file reach out to the @voc in [this issue tracker](ht

[2018-12-24 16:02] johnjohndoe commented on #93
Resolved by #98.

[2018-12-24 16:02] #93 closed

[2018-12-24 20:37] Noxmiles opened #100 "[Wunsch] Einzelne Räume ausblenden"
Da mit der Musik, den Assemblies und den selforganized Sessions mittlerweile sehr viele Spalten in der App sind wäre es sehr schön einzelne Spalten/Räume in den Einstellungen ausblenden zu können.

[2018-12-24 22:13] poschi3 commented on #61
Tested snapshot of Fahrplan with current master. Problem was resolved by #98.

[2018-12-24 22:13] #61 closed

[2018-12-25 18:09] johnjohndoe commented on #61
@poschi3 did you successfully test with the old GPN schedule file which I linked in the issue?

[2018-12-25 20:38] johnjohndoe opened #103 "IllegalStateException: Lecture list does not contain eventId"
Crash report from users:

- Sent: 25.12.2018
- App version: [v.1.38.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.38.0), [v.1.38.1](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.38.1), [v.1.38.2](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.38.2)
- Android version: 8.0.0
- Device model: -

# Stacktrace
[code]

# Log
[code]

- Above logging

[2018-12-25 22:38] poschi3 commented on #61
@johnjohndoe Yes and I checked it now again. There is a correct time column for day 2 to 4. But now I noticed that there is no time column on day 1...

[2018-12-25 23:03] johnjohndoe commented on #61
@poschi3 If this is specific to this issue (and GPN) then we should reopen the issue to be resolved at some point.

[2018-12-26 13:15] Bubu commented on #80
We deployed a congress repo we can more easily update here: https://fdroid.gitlab.io/35c3/fdroid/repo/

Please ping me if I need to add new versions!

[2018-12-26 19:49] kordianbruck commented on #30
It would be really great to have a mass export for all favorites to be exported to ones own calendar. This would at least let a user see their favorite talks in their calendar app and engelsystem also allows to import shifts via iCal.

A mass export should be pretty easy no? Would love to see that :heart:

[2018-12-27 08:16] torantal commented on #100
Being a couch participant this year for 35c3 it would be very convenient to have a "no stream/recording" filter feature to hide any entry that won't be transmitted (hoping this is an existing attribute).

With this filter in effect all columns that are empty could then be automatically hidden.

[2018-12-27 10:17] RalfJung opened #104 "Provide option to disable update notifications"
Congress Fahrplan seems to update roughly about every 5 minutes, with notification and popup every single time.  It would be great if there was a way to just disable those, most updates only concern some self-organized session anyway.

[2018-12-27 10:45] johnjohndoe commented on #104
Thank you for your features request. Please note that notifications can be disabled on the system settings of Android for individuell apps.

[2018-12-27 11:12] RalfJung commented on #104
But that will also disable talk notifications, won't it?

[2018-12-27 11:14] johnjohndoe commented on #104
It depends on your Android version. From Android 7 there are notification categories which allow you to select the "channels" which you like to be notified about while muting others.

[2018-12-27 13:07] cheese1 opened #105 "Current time marker"
Would be great to have an time marker as  Line and not as time block.

[2018-12-27 15:06] DreamFlasher opened #106 "add option to show notification for changes in favorites only"
The current update notification pops up every ten minutes and doesn't provide much value. Please add an option to only show the update notification if there are changes to favorited sessions.

[2018-12-27 15:28] sonst-was opened #107 "Many backs required to go back to the Fahrplan after navigating with c3nav"
After going to c3nav with the "Navigate" feature in Fahrplan you need to "reverse" every step taken in c3nav to finally go back to the Fahrplan (entered and selected a room to navigate from and calculating a route all those steps have to be reversed by clicking back).

[2018-12-27 15:35] johnjohndoe commented on #107
@codingcatgirl, is this something you can handle in the c3nav Android app?

[2018-12-27 15:38] johnjohndoe commented on #106
Thank you for you feature request. Relates to #104.

[2018-12-27 16:03] DreamFlasher commented on #104
I suggest to change the default behavior to only notify about changes in favorited talks (see #106)

[2018-12-27 18:48] lhoff94 opened #108 "Going back from the event details to the schedule is slow"
It takes up to 3 seconds to leave the event detail page and go back to the schedule.

Tested on 3 different devices.

[2018-12-28 01:42] micb25 commented on #108
I can confirm this bug for two more devices.

[2018-12-28 14:02] ThomasWaldmann commented on #108
I have an idea for a solution that does not require refactoring the main view:

On the detail page, there is a nav button "back" that returns to the main view, causing the performance issue as it has to render all the items all the time (on my Nexus 6, this takes 8s now, which is a real pain).

When freshly installing the app with the intention to look through all the talks (and favorite the inter

[2018-12-28 15:53] #42 closed

[2018-12-28 17:19] johnjohndoe commented on #103
# How to reproduce
1. Load a `schedule.xml` and add a particular event to the favorites.
2. Load a `schedule.xml` which is missing the mentioned event.
3. Visit the favorites list.

# Observed behavior
1. The favorites list still contains an entry for the event.
2. Tapping the entry **crashes** the app.

# Expected behavior
- The favorites list does **no** longer contain the event.

[2018-12-28 18:54] #103 closed

[2018-12-28 20:19] jleidgens commented on #104
I think that DreamFlashers idea is a good long-term solution for a more fine grained setting. My pull request is only a fast first fix for now. After the event I could help add the more sensible settings

[2018-12-28 20:54] torantal commented on #3
Still consider this a very basic function.

"Hey, did you know there's a talk by starbug today?" "Really? Great, let me check it out and set a reminder ...

<Realise I can't search, although I have all the data in the app>

<Search in the online Fahrplan and finally find the talk, switch to the app and favourite it.>

Room for improvement... ;)

[2018-12-29 11:35] mirabilos opened #114 "Pretalx feedback links invalid"
404 @ https://frab.cccv.de/en/35C3/public/events/110/feedback/new

[2018-12-29 11:37] mirabilos opened #115 "slow"
activating from the äpp switcher or going back from talk description to timetable takes ~10 seconds, double if the schedule updated in the meantime

[2018-12-29 11:48] alexanderadam commented on #100
Wow, the no-stream addition is a splendid idea! 👍

[2018-12-29 11:50] alexanderadam commented on #40
It would be nice also to have an option to disable the changes screen at all.

[2018-12-29 11:51] johnjohndoe commented on #40
You can disable automatic updates in the settings and update manually by selecting the relevant menu item.

[2018-12-29 11:56] alexanderadam opened #116 "Going back from the event details won't return to the last state"
In addition to the performance issue (#108):

Going back from detail view won't remember the last position state. For example if someone has a few favourites were scrolling is necessary, returning from a event detail won't return to the correct scroll position. Instead it goes to the top, making it necessary to scroll down over and over again when you want to look up a few events in the future.

T

[2018-12-29 12:09] johnjohndoe commented on #116
Fixed in version 1.38.3. Please update, check and update/close your issue here.

[2018-12-29 13:13] johnjohndoe commented on #114
@mirabilos It looks like that this specifically concerns the events aggregated from the smaller stages besides Adams ... Eliza. @voc, @saerdnaer, @raphaelm, @rixx, can you tell if there is specific feedback links being provides by those stages which use Pretalx?

[2018-12-29 18:09] johnjohndoe commented on #114
Thank you for the reminder. I don't think it is necessary to change the XML. The app is prepared to handle pure Preltalx schedule data but not schedule data from mixed sources as it is the case at 35C3.

[2018-12-29 20:05] saerdnaer commented on #114
Hmm, maybe we should think about an additional (optional) attribute on the event, containing the feedback URL for that talk....

[2018-12-29 23:13] AnyTimeTraveler commented on #108
It seems to me like 'builing' the calendar-view takes the most time. Is it maybe possible to 'cache' the calendar-activity whenever the details of an event are opened and return to the 'cached' calendar-view instead of rebuiling it?

[2018-12-30 00:52] torantal commented on #100
It could of course work as a highlight as well for people at the conference "Go watch it because it won't be recorded!" :)

[2018-12-30 02:39] johnjohndoe commented on #114
@saerdnaer The only solution I could think of at the moment which works without an app release would be if someone would actually set up a redirect for each of the non-existing URLs.

[2018-12-30 13:59] hkahl commented on #108
Also an issue when starting the app, resuming the app, or rotating the device. The app (main thread) is blocked for over 10 seconds on my devices.

MainFragment.onCreate(): 4.4s
  -> sql queries take most of the time

FahrplanFragment.onResume(): 7.82s
  -> most of the time in FahrplanFragment.fillRoom()

![profiling](https://user-images.githubusercontent.com/5089630/50547836-9e04cb80-0c42-11e9-9f

[2018-12-30 20:03] johnjohndoe commented on #116
Closing this for now. Please comment here if there is open questions.

[2018-12-30 20:03] #116 closed

[2018-12-30 20:15] johnjohndoe commented on #108
@hkahl Thank you for the performance analysis. I looked into this before 35c3 myself. From what I analyzed and know about the implementation the source of the performance issue is that the grid view does not recycle any views. The view is **not** based on `RecyclerView` or similar which would easily handle the amount of views. Therefore, the whole schedule "grid" is calculated and **inflated every

[2018-12-30 20:32] lhoff94 commented on #108
Another suggestion.
Some of you may know the öffi app. It has a really nice view for the result page. Since it was open sourced couple of months ago looking at how they implemented that view and if it would be easier to use their code as a base instead .
I haven't looked into that but maybe it's worth a shot.
Code can be found here:
https://gitlab.com/oeffi/oeffi

[2018-12-30 20:41] johnjohndoe commented on #53
Status update: Not sure if the migration to Room still makes sense. Let's discuss.

[2018-12-31 00:40] rugk commented on #46
Well… I actually don't think it makes sense to link to a unmaintained repo. I mean totally credit the original author in many places, but this link goes to the repo, not the author. I've listed my arguments already.

Given no one else reacted since 34c3 though, I'll close it now. :smile:

[2018-12-31 13:19] alexanderadam commented on #40
@johnjohndoe I know but I want automatic updates. I just don't want to be informed how many changes there were. Imagine every time you open a regular, shared calender application it would present you such a screen. :wink:
I don't think that an outdated Fahrplan would be a proper trade off for not being nagged by the modal popup. :wink:

[2018-12-31 16:51] #114 closed

[2018-12-31 17:06] johnjohndoe commented on #114
@saerdnaer @rixx For now [I fixed the feedback for Pretalx events](https://github.com/EventFahrplan/EventFahrplan/pull/118/commits/9f9d57221a89c1c6fbc6fde886332490d2669952). We will need to talk about events imported from the wiki at some point and revisit this topic.

[2019-01-02 12:48] emsk3r commented on #106
Best option is maybe:
Update Notification: ( ) Disabled, ( ) All, ( ) for favorites only

[2019-01-02 21:37] johnjohndoe commented on #106
@emsk3r Already at 35C3 @jleidgens worked on this issue in #117. Maybe, he can share screenshots here to discuss on the implementation here or in #104.

[2019-01-03 09:01] johnjohndoe commented on #3
One more filter criteria requested by a user:
- Filter by language

[2019-01-03 13:49] pseyfert commented on #33
Expanding on this, the time highlight even appears twice on day 2. Once at the top, and once at the bottom. (System time was set for 0.31 in the night from day 1 to day 2, i.e. just before Nico's talk, but the highlighter suggests Martin is talking)

![screenshot_20181228-003122](https://user-images.githubusercontent.com/5124749/50640894-87be7e80-0f66-11e9-9d9e-e38b877deb11.png)
![screenshot_20181

[2019-01-03 15:12] jleidgens commented on #104
As discussed there is an even nicer solution then the setting.

Phone Notifications -> Only show a notification if a change happens that is important to the user. So make the notification favorites only
Notifications in the app -> Switch from a Dialog to a Snackbar. That way the information is there but not disturbing the user.

Bonus Goal -> If the user does not interact with the Snackbar for som

[2019-01-03 15:29] johnjohndoe opened #120 "SecurityException: Caller no longer running / JobIntentService"
Crash report from users and Google Play:

- Sent: 27.12.2018
- App version: [v.1.38.1](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.38.1), [v.1.38.2](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.38.2), [v.1.40.0.](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.40.0)
- Android version: 8.0.0, 8.1.0, 9
- Device model: various

# Stacktrace Andro

[2019-01-03 16:26] johnjohndoe opened #121 "Provide notifications settings shortcut in app settings"
App notifications can be managed by users in the system settings of Android. Currently, the app shows notifications of two categories:
- Alarms for events
- Schedule updates

# Current state
- To get to the settings users have to open _Settings > Apps & notifications > Select the app > Select notifications_ .. in order to finally customize notifications for the app.

# Target state
- Users can use

[2019-01-04 16:48] Rondom opened #123 "Selected share-activity is permanently stored"
# Environment
- App version: 1.33.13
- Android version: 8.0.0
- Branch: master
- Device: Samsung Galaxy S7 (herolte)

# How to reproduce
A1. Open an event from the schedule by tapping it
A2. Open the hamburger-menu on the top right and tap "Share"
A3. In the list of applications, select an option such as add to "Firefox" or "Copy to Clipboard".

B1. Repeat the steps A1-A2 with another event

C1. O

[2019-01-04 17:03] johnjohndoe opened #124 "Custom alarm tone is not used"
The alarm function seems to behave very unreliable. The goal of this issue is to find out about the reasons (previous code changes, Android framework bugs, ...), and hopefully fix the behavior on all Android versions.

# Environment
- App version: v.1.38.4
- Android version: various, see below
- Device: various, see below

# How to reproduce
1. Set the system time of your device to one day after t

[2019-01-04 17:51] johnjohndoe commented on #123
@Rondom Thank you for reporting this issue.

I tested the behavior on four different devices just now. All devices open the _intent chooser_ to let me select an app. All of them show me the `Just once` and `Always` options. Here is an example screenshot of a Pixel 2, Android 9.

![just-one-or-always](https://user-images.githubusercontent.com/144518/50702259-a8630300-1050-11e9-92ec-9cada5656b40.png

[2019-01-04 18:12] johnjohndoe opened #125 "Long room name text increases room name row height"
# Environment
- App version: [v.1.38.4](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.38.4)
- Android version: 7.1.1
- Branch: `master`
- Device: Nexus 9 tablet
- Schedule: [35C3 schedule.xml](https://github.com/voc/35C3_schedule/blob/eae0337c009162ff9f22b90320a910abd4f9065f/everything.schedule.xml)

# How to reproduce
1. Launch the 35C3 app on the device
2. Observe the room name

[2019-01-04 20:37] johnjohndoe opened #126 "FileUriExposedException when choosing custom alarm tone"
Crash report from users:

- Sent: 27.12.2018
- App version: [v.1.38.1](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.38.1), [v.1.38.2](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.38.2)
- Android version: 8.0.0 (MIUI)
- Device model: Xiaomi MI 5s Plus, Xiaomi MI 5

# Stacktrace
[code]

# Log
[code]

# User report

# Related
- [Android documentation on FileUriEx

[2019-01-05 01:11] Rondom commented on #123
About the version, I encountered the issue with the version that was latest in Google Play when I encountered the problem (1.38.x). When reproducing, I uninstalled and re-installed the app. This time I must have installed it from [F-Droid which ships an outdated version](https://f-droid.org/en/packages/org.ligi.fahrplan/). Sorry for that! Thankfully, the issue still applies to the latest version.

[2019-01-06 11:53] johnjohndoe commented on #123
@Rondom As a short feedback on the issue:

At the moment I cannot tell if this is a bug in the app or in the Android ROM. I or somebody else who wants to look into the issue will need a bit **more time** to look into this. A good starting point would be the [`LectureSharer.java`](https://github.com/EventFahrplan/EventFahrplan/blob/master/app/src/main/java/nerd/tuxmobil/fahrplan/congress/sharing/Le

[2019-01-06 12:06] johnjohndoe commented on #107
Related: https://github.com/c3nav/c3nav-android/issues/8

[2019-01-06 12:08] johnjohndoe commented on #107
@evilscientress I am not sure if this can be resolved here or in your app. Is this something we could resolve with a virtual backstack or a specific intent flag?

[2019-01-06 12:22] johnjohndoe opened #127 "Restrict usage while screen is locked"
# Environment
- App version: [v.1.38.4](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.38.4)

# How to reproduce
1. Launch the app.
2. Lock the device.
3. Use the app on the **lock screen**.

# Observed behavior
- **All screens** of the app can be used.

# Expected behavior
- Only the **schedule view** and the **event details** view can be visited.
- Lock screen users are **not**

[2019-01-07 22:17] pseyfert commented on #52
for reference, downloading favorites is also suggested in https://github.com/mfherbst/down-frab-videos/issues/15

[2019-01-11 08:47] #121 closed

[2019-02-22 09:09] johnjohndoe commented on #108
It might be worth evaluating the [TimetableLayout library](https://github.com/MoyuruAizawa/TimetableLayout) as a replacement for the custom table view which is used in the app.

[2019-03-08 17:37] johnjohndoe opened #137 "Use targetSdkVersion 27 (Oreo)"
# Background
- [Android 8.1 Features and APIs](https://developer.android.com/about/versions/oreo/android-8.1)
- [Expanding target API level requirements in 2019](https://android-developers.googleblog.com/2019/02/expanding-target-api-level-requirements.html)

# Current state
- `targetSdkVersion 26`

# Target state
- [ ] `targetSdkVersion 27`
- [ ] Remove/replace deprecated code with new APIs.
- [ ]

[2019-03-08 17:45] johnjohndoe opened #138 "Use targetSdkVersion 28 (Pie)"
# Background
- [Expanding target API level requirements in 2019](https://android-developers.googleblog.com/2019/02/expanding-target-api-level-requirements.html)
- [Target API level requirements for the Play Console](https://support.google.com/googleplay/android-developer/answer/113469#targetsdk)
- [Meet Google Play's target API level requirement](https://developer.android.com/distribute/best-pract

[2019-03-12 16:48] #13 closed

[2019-03-12 17:12] #137 closed

[2019-03-22 11:28] johnjohndoe opened #141 "Assertion library update"
# Motivation
- Due to the deprecation of [AssertJ Android](https://github.com/square/assertj-android) in [August 2017](https://github.com/square/assertj-android/commit/7d4da5c468bce780e43c243853d5b8f1e7b93135) a replacement should be found.

# Hints
- Find out if [AssertJ](https://github.com/assertj/assertj) will still be used as a transitive dependency or fully replaced by a new library.
- Keep i

[2019-05-11 08:21] akarsh commented on #141
From issues in the repo - [Google Truth](https://github.com/google/truth), I see the [Kotlin support](https://github.com/google/truth/issues/404) is an open issue.

I found a Kotlin library - [Atrium](https://github.com/robstoll/atrium) but there is no [comparison of Google Truth vs Atrium](https://google.github.io/truth/comparison.html) on Google Truth website.

[2019-05-11 09:05] akarsh opened #144 "Add a new section - build instructions to README.md"
README.md contains only [release build instructions](https://github.com/EventFahrplan/EventFahrplan#release-build--signing). Does not contain build instructions. Add a new a section or a link to a build instructions file or a wiki page would be helpful.
I find the format of [build instructions](https://github.com/AntennaPod/AntennaPod/wiki/Building-AntennaPod) in the open source project - AntennaP

[2019-05-13 21:03] akarsh opened #146 "adding jvm arguments to the project"
Follow-up on: https://github.com/EventFahrplan/EventFahrplan/pull/145#discussion_r283492209

By default Android Studio adds JVM arguments into the `gradle.properties` file into every project.
As the `gradle.properties` file is ignored by Git a common solution has to be found i.e a configuration that can be included in the two build types.

Note: The [CI configuration file](https://github.com/Event

[2019-05-19 07:43] #144 closed

[2019-05-21 14:51] johnjohndoe commented on #22
Maybe of interest: [What's New in ConstraintLayout](https://www.youtube.com/watch?v=29gLA90m6Gk&t=18m09s) mentions that with `MotionLayout` it is possible to track "your velocity of your finger and matches the velocity of the object you tag to it".

[2019-08-11 21:01] jspricke opened #149 "CCCamp 2019 / Deployment / F-Droid"
Hey, I see a 1.39.1 version on Google Play with the camp data and design. Could you publish and tag this on Github so we could get it through F-Droid?

Thanks!

[2019-08-11 21:06] johnjohndoe commented on #149
Hi @jspricke.
The [cccamp2019](https://github.com/johnjohndoe/CampFahrplan/tree/cccamp2019) branch is not yet merged into `master`. I will do this later. The tags are pushed - here is the [v.1.39.1-CCCamp-Edition](https://github.com/johnjohndoe/CampFahrplan/releases/tag/v.1.39.1-CCCamp-Edition) tag.
I will publish the app via F-Droid - as promised in [this tweet](https://twitter.com/tbsprs/status/

[2019-08-11 21:09] jspricke commented on #149
It should be enough to push the tag to this repo to get it updated on F-Droid. I can take care to update the description if you don't have the time.

[2019-08-11 21:25] johnjohndoe commented on #149
I prefer to keep the tags for this repository such as `v.1.39.0` separate from the tags with `-something`. The hyphen-less tags are observed by F-Droid for the 3xC3 app which automatically updates once a tag in that format is pushed.

What I plan to do for the Camp is to point to the `v.1.39.x-CCCamp-Edition` tags in the forked repository.

[2019-08-15 06:01] johnjohndoe commented on #149
Status update: I am working on publishing the Camp Schedule 2019 on F-Droid. The process is [still ongoing](https://gitlab.com/fdroid/fdroiddata/merge_requests/5250).

[2019-08-15 06:07] jspricke commented on #149
Thanks for the update. What about publishing nightly builds for the
Camp? There is a guide here:

https://f-droid.org/en/docs/Publishing_Nightly_Builds/

[2019-08-16 08:26] johnjohndoe commented on #149
Status update: The new app entry has been merged at Aug 15, 2019. Now we have to wait for the F-Droid pipeline.

Since it is usually pretty packed it might make sense to launch a dedicated F-Droid repository for the Camp 2019. @schildbach suggested this to me yesterday, too. For 35C3 such as [repository](https://fdroid.gitlab.io/35c3/fdroid/repo/) had been hosted by @bubu. I will not do this mysel

[2019-08-16 11:30] Bubu commented on #149
I'd like to not be responsible for providing the F-Droid repo this year, I think @jspricke was working on it?

I'll be at camp though, see you there.

[2019-08-16 19:47] jspricke commented on #149
For card10 there is already a nightly repo here: https://git.card10.badge.events.ccc.de/card10/companion-app-android-nightly

I don't think it makes sense to have an extra F-Droid repo for the Fahrplan if you don't plan to work on it. So either it gets into the main repo in time or I would propose to go the nightly way as well.

[2019-08-16 21:00] johnjohndoe commented on #149
To clarify: There have always been 1-3 releases during the Congress or Camp which then need to go live as fast as possible to still reach users which was impossible with the main F-Droid repository in the last years. Only Google Play users benefited from these updates. Therefore, at 35C3 the separate repository was very helpful. I don't expect many more releases, though.

[2019-08-16 22:07] schildbach commented on #149
The above repo is not for releases, only for our CI builds.

I think releases of app camp related apps should go into a "camp repo", and should be signed by proper release keys.

[2019-08-17 17:15] jspricke commented on #149
Agreed.

@eighthave proposed to have a general https://fdroid.gitlab.io/ccc repo
to reuse in future. Would that fit all of you?

Should I build and sign all apps or do you want to send me signed apks
via a secure channel (gpg mail?) so they are compatible with the Play
store?

@schildbach: we would need some tagging/version code convention in case
I should build the app.

P.S.: Hope it's fine to d

[2019-08-17 17:20] schildbach commented on #149
Sounds good to me!

Regarding the card10 app, there won't be a Play Store release. It's too late for Camp. Yes I guess at some point we will tag a first version. `v0.1`? I'm fine if you sign it, but let's see what others think about this point.

[2019-08-17 21:59] n0emis opened #150 "Wrong URLs / Not using provided field."
# Observed behavior
Under `Event online` there is a selfgenerated url to the Event.
When using combined schedules/wiki-events this url does not work.

# Expected behavior
At least in the files generated by https://github.com/voc/schedule/ e.g. at https://data.c3voc.de/camp2019/everything.schedule.xml there is always a `url` filed with a working address. it would be nice if the app used this.

[2019-08-18 10:12] johnjohndoe commented on #150
Thank you for reporting this. It should be rather easy to fix. I suggest looking into EventUrlComposer. Maybe this change is related: https://github.com/voc/schedule/pull/46. I probably have time to work on this at Aug 20 night. Therefore, if anyone wants to fix this before - you are welcome.

[2019-08-18 11:13] johnjohndoe commented on #149
Sounds fine to me. I guess signing the app as it is done by the main F-Droid pipeline is sufficient. I am happy if you can take care of this. I won't have time to work on anything before Aug 21 evening.

[2019-08-18 16:12] n0emis commented on #150
The change in voc/schedule#46 is there to include the url of wiki-events in the afformentioned field.

[2019-08-18 20:35] n0emis commented on #150
I have now taken a look at it and judging the travis-tests is should now work.
I've also modified the tests because I think there is no reason that the composed url should be preferred over the original stated one.

[2019-08-18 23:55] dbrgn commented on #149
A reusable ccc repo sounds like a good idea. Otherwise this discussion will happen every year before congress :)

[2019-08-20 17:20] johnjohndoe commented on #149
Okay. Let's do it. Who can set up the repository? @eighthave, can you?

[2019-08-20 17:58] jspricke commented on #149
Done: https://fdroid.gitlab.io/ccc/fdroid/repo?fingerprint=1F2ECC52D4A5C49586FDDC0A3E57E2F4C9B5B3041DB1EC455747A84344DCA10E

[2019-08-20 20:36] johnjohndoe commented on #149
@jspricke HTTP 404.

[2019-08-20 20:48] Bubu commented on #149
@johnjohndoe it should open in fdroid on a phone where its installed.

Otherwise look at https://fdroid.gitlab.io/ccc for other ways to add the repo.

[2019-08-20 20:55] johnjohndoe commented on #149
Ah, sorry for my confusion. Thank you for updating the wiki.
Thanks to everybody. I guess we can close the issue now?

[2019-08-21 15:33] Bubu commented on #149
@johnjohndoe Could you match Tags and version names of the app for fdroid to pick up the updates automatically?

Currently it's
  - versionName: 1.39.1 (CCCamp Edition)
    commit: v.1.39.1-CCCamp-Edition

[2019-08-21 17:42] BoFFire opened #153 "Missing french translation"
Hi,
The app is missing french translation. May be we can add it.
Regards,

[2019-08-21 17:42] BoFFire commented on #153
Update : French translation submitted https://github.com/EventFahrplan/EventFahrplan/pull/152

[2019-08-21 23:15] johnjohndoe commented on #149
@Bubu I matched the Git tag and the `versionName` here: b4046e2c4d8b0b79df060a070434c3f96cfd280d.

[2019-08-21 23:18] johnjohndoe commented on #153
Translation added here: 561cd5cf8d68d9fed03669e0d58aace53c3a440d.

[2019-08-21 23:18] #153 closed

[2019-08-21 23:19] johnjohndoe commented on #150
Resolved here: b14f6c36037edc9d458ae5138b3d3d9f13827767.

[2019-08-21 23:19] #150 closed

[2019-08-22 10:01] alexanderadam commented on #149
The mentioned link on this page returns 404:

https://fdroid.gitlab.io/ccc/fdroid/repo?fingerprint=1F2ECC52D4A5C49586FDDC0A3E57E2F4C9B5B3041DB1EC455747A84344DCA10E

[2019-08-22 10:04] alexanderadam commented on #149
We tested it here on different devices and it doesn't open in fdroid.
The link on the page naturally also returns 404.

[2019-08-22 10:15] jspricke commented on #149
Am 22. August 2019 12:01:24 MESZ schrieb Alexander Adam <notifications@github.com>:

That's correct, just add it to F-Droid.

[2019-08-22 10:57] Bubu commented on #149
@johnjohndoe auto update's still not working. I think because of `"${defaultConfig.versionName}` this variable which fdroid can't parse.

If there's more than one further update 'planned' during camp would you consider just replacing this variable?

[2019-08-22 10:59] Bubu commented on #149
IN other news, the 1.39.2 version is release in the f-droid repo now.

[2019-08-22 11:34] johnjohndoe commented on #149
Thank you. I can put the versionName in manually for the next update. Or we teach F-Droid to deal with it. It could be a search and replace command to be run before.

[2019-08-23 17:49] johnjohndoe commented on #149
@Bubu The `versionName` is fixed in c2a9ccb9749f1639a9d8ad6a4018a1f5a95a2172.
A new version `v.1.39.3-CCCamp-Edition` can be pushed to F-Droid now.

[2019-08-23 23:18] Bubu commented on #149
On August 23, 2019 7:49:43 PM GMT+02:00, Tobias Preuss <notifications@github.com> wrote:

Thank you. Done.

[2019-08-29 20:37] johnjohndoe commented on #149
Hi @Bubu and @jspricke.

The [main F-Droid repository](https://gitlab.com/fdroid/fdroiddata/) currently lists [`Version 1.39.1 (CCCamp Edition)`](https://f-droid.org/en/packages/info.metadude.android.cccamp.schedule/) which only serves the two main stages. I did not notice that the main deployment pipeline published an app version during the Camp. I am guessing we thereby missed out to reach a lot

[2019-08-29 20:45] Bubu commented on #149
@johnjohndoe https://gitlab.com/tbsprs/fdroiddata/commits/cccamp-schedule-2019 won't work for autoupdates I think. `fdroid checkupdates` just parses the build.gradle file with regexes, this happens completely independent from build/prebuild steps.

[2019-08-30 06:41] johnjohndoe commented on #149
@Bubu I don't understand why the string substitution won't work. For the _Congress_ app a similar replacement has happened as you can see in the [configuration file](https://gitlab.com/fdroid/fdroiddata/blob/master/metadata/info.metadude.android.congress.schedule.yml). Please explain the problem which you see in more details.

[2019-08-30 19:16] Bubu commented on #149
@johnjohndoe building works fine, automatic updates don't work with any dynamic gradle features. Sorry if that wasn't clear.

fdroid checkupdates is just currently very limited in functionality. There are plans to fix this but it won't be done until next congress for example.

[2019-09-05 17:40] johnjohndoe commented on #149
@Bubu & @jspricke

[2019-09-06 09:37] #11 closed

[2019-09-06 15:04] Bubu commented on #149
On vacation until 22nd.

[2019-09-10 18:28] johnjohndoe opened #162 "Replace deprecated "android.preference" API"
# TODOs

- [x] Remove/replace deprecated code with new APIs of [`androidx.preference`](https://developer.android.com/reference/androidx/preference/package-summary).
  - [x] [`android.preference.PreferenceFragment`](https://developer.android.com/reference/android/preference/PreferenceFragment) -> used in `SettingsActivity`
  - [x] [`android.app.Activity#getFragmentManager`](https://developer.androi

[2019-09-10 18:31] johnjohndoe commented on #138
Nothing to do now.

[2019-09-10 20:00] #138 closed

[2019-09-13 18:13] johnjohndoe opened #167 "Time column not shown"
# Environment
- App version: [1.40.0-MRMCD-Edition](https://github.com/johnjohndoe/CampFahrplan/releases/tag/v.1.40.0-MRMCD-Edition)
- Branch: [mrmcd-2019](https://github.com/johnjohndoe/CampFahrplan/tree/mrmcd-2019)
- Android version: 7.1.1, 10
- Device: Nexus 9, Pixel 2

# How to reproduce
1. Install and start the app
2. Inspect day 1, 2 and 3

# Observed behavior
- Yesterday (Thursday, 12.09.20

[2019-09-13 18:19] heurekus commented on #167
Happening on my LineagOS Samsung S9, too!

[2019-09-14 14:09] johnjohndoe commented on #167
I was able to identify the `<event>`s which cause the app to hide the time column. I uploaded two versions of the latest MRMCD `schedule.xml`:

- Unmodified: [gist](https://gist.github.com/johnjohndoe/0887355ba8fdecba8e402d8112ccfb4a) -> [schedule.xml](https://gist.githubusercontent.com/johnjohndoe/0887355ba8fdecba8e402d8112ccfb4a/raw/da2cba58cca1d9aac22d9e6f8683f34fab4bd575/schedule.xml)
- Modifi

[2019-09-26 19:07] johnjohndoe commented on #149
[Version 1.40.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.40.0) has now appeared on [F-Droid](https://f-droid.org/en/packages/info.metadude.android.cccamp.schedule/). I therefore close this issue and like to thank everyone once again for their support.

[2019-09-26 19:07] #149 closed

[2019-09-26 19:13] johnjohndoe commented on #53
For now I decided not to work on the database layer due to priorities and limited resources.

[2019-09-26 19:13] #53 closed

[2019-09-26 19:16] johnjohndoe commented on #106
Similar: [Issue #40: Only show relevant Fahrplan Changes](https://github.com/EventFahrplan/EventFahrplan/issues/40)

[2019-09-26 19:51] zoff99 commented on #53
room means abandon older android versions

[2019-09-26 19:53] johnjohndoe commented on #53
@zoff99 Are you referring to that Room raises the `minSdkVersion`?

[2019-09-26 20:28] zoff99 commented on #53
yes

[2019-09-26 20:32] johnjohndoe commented on #53
@zoff99 Thank you for the hint.
However, at some point this will happen because other libraries such as [OkHttp v.3.13.0](https://square.github.io/okhttp/changelog_3x/#version-3130) have raised the `minSdkVersion`.
I will migrate to `androidx` since the legacy support libraries will not be updated any longer.

[2019-09-26 20:54] johnjohndoe opened #169 "Update Portuguese translation"
Since the [initial contribution of the Portuguese translation](https://github.com/EventFahrplan/EventFahrplan/commit/78c1bf7992f446dc3640e32b7a055074052c7246) :brazil: by @grote and friends a few strings have been added or changed. It would be great to have the missing strings completed.

The _Translation Editor_ in _Android Studio_ let's you easily identify the missing translations as shown in th

[2019-09-26 20:58] johnjohndoe opened #170 "Complete and update French translation"
Since the [contribution of the French translation](https://github.com/EventFahrplan/EventFahrplan/commit/c2df832d0d32be50612f1be4f327d84364d0c79f) :fr: by @BoFFire a few strings have been added or changed. It would be great to have the missing strings completed.

The _Translation Editor_ in _Android Studio_ let's you easily identify the **missing** translations as shown in the screenshot. Existing

[2019-09-26 21:00] BoFFire commented on #170
Nice !

[2019-09-27 09:11] sebastienvermeille commented on #170
Hi @johnjohndoe I am a french speaker I can handle this issue and send a PR 1st of oct. if you agree :)

[2019-09-27 09:15] sebastienvermeille commented on #170
haha may I ask you to review the PR the 1st of october fast? It is for Hacktoberfest I would like to earn a free tshirt :dancing_men:

[2019-09-27 09:41] johnjohndoe opened #172 "Add Spanish translation"
It would be nice to have a Spanish translation of the app.

The _Translation Editor_ in _Android Studio_ let's you easily identify the missing translations as shown in the screenshot.

![Android-Studio-Translation-Editor](https://user-images.githubusercontent.com/144518/65724092-fe307d00-e0af-11e9-8dd6-743d6d00237b.png)

- [ ] Add new translations in `app/src/main/res/values-es` (ignore `placehold

[2019-09-27 09:46] vherasme commented on #172
Hello @johnjohndoe, Can I help with that? My first language is Spanish

[2019-09-27 09:48] johnjohndoe commented on #172
@vherasme You are very welcome.

[2019-09-27 09:50] johnjohndoe opened #173 "Add Polish translation"
It would be nice to have a Polish translation of the app. :poland:

The _Translation Editor_ in _Android Studio_ let's you easily identify the missing translations as shown in the screenshot.

![Android-Studio-Translation-Editor](https://user-images.githubusercontent.com/144518/65724092-fe307d00-e0af-11e9-8dd6-743d6d00237b.png)

Please use the automatic formatting for the string files which Androi

[2019-09-27 09:52] johnjohndoe opened #174 "Add Russian translation"
It would be nice to have a Russian translation of the app. :ru:

The _Translation Editor_ in _Android Studio_ let's you easily identify the missing translations as shown in the screenshot.

![Android-Studio-Translation-Editor](https://user-images.githubusercontent.com/144518/65724092-fe307d00-e0af-11e9-8dd6-743d6d00237b.png)

Please use the automatic formatting for the string files which Android S

[2019-09-27 09:54] johnjohndoe opened #175 "Complete and update Italian translation"
It would be nice to have an Italian translation of the app. :it:

The _Translation Editor_ in _Android Studio_ let's you easily identify the missing translations as shown in the screenshot.

![Android-Studio-Translation-Editor](https://user-images.githubusercontent.com/144518/65724092-fe307d00-e0af-11e9-8dd6-743d6d00237b.png)

Please use the automatic formatting for the string files which Android

[2019-09-27 09:56] johnjohndoe opened #176 "Add Dutch translation"
It would be nice to have a Dutch translation of the app. :netherlands:

The _Translation Editor_ in _Android Studio_ let's you easily identify the missing translations as shown in the screenshot.

![Android-Studio-Translation-Editor](https://user-images.githubusercontent.com/144518/65724092-fe307d00-e0af-11e9-8dd6-743d6d00237b.png)

Please use the automatic formatting for the string files which An

[2019-09-27 15:48] amarziali commented on #175
Hi @johnjohndoe . I may help on this one being italian native ;)

[2019-09-27 16:25] myluco commented on #169
Can I work on that?

[2019-09-27 18:32] johnjohndoe commented on #169
@myluco You can join reviewing this pull request https://github.com/EventFahrplan/EventFahrplan/pull/171. That would be nice since I don't speak Portuguese.

[2019-09-28 09:58] #169 closed

[2019-09-29 11:28] vherasme commented on #172
Hi. I don't know why I would need to fork the repo instead of cloning it and creating another branch:

[2019-09-29 11:42] johnjohndoe commented on #172
@vherasme

GitHub uses "Fork" as a synonym for "Clone" - see the `Fork` button in the top right corner of a repository page.

Nice. Please make sure to rebase your branch onto the latest commit of my `master` branch - I have added a few string lately.

[2019-09-29 16:29] jMavarez commented on #172
I'm willing to help if it's still needed!

[2019-09-29 16:46] johnjohndoe commented on #172
@jMavarez Your help is appreciated. It would be nice if you can review the translation once @vherasme pushes his branch.

[2019-09-29 16:50] johnjohndoe opened #180 "Update Portuguese translation"
Since the [update of the Portuguese translation](https://github.com/EventFahrplan/EventFahrplan/commit/4357c5a22792b85509c273b812d474ea7e3a11f5) by @adrianoapj a few strings have been added. It would be great to have the missing strings completed.

The _Translation Editor_ in _Android Studio_ let's you easily identify the missing translations as shown in the screenshot.

![Android-Studio-Translati

[2019-09-29 17:03] adrianoapj commented on #180
Can I do that? Should I add a lecture_list_item_language_portuguese_content_description string?

[2019-09-29 17:13] johnjohndoe commented on #180
@adrianoapj Good idea. Since the app has been used in Portuguese speaking countries we could have it built-in. You need to extend the corresponding code in `Lecture#getLanguageContentDescription`, too. See #179.

[2019-09-29 19:02] johnjohndoe opened #181 "Show own shifts from Engelsystem"
# Context
The [Engelsystem](https://engelsystem.de) is used to coordinate volunteers and work shifts at large events such as the [Chaos Communication Congress](https://en.wikipedia.org/wiki/Chaos_Communication_Congress). The Engelsystem exposes the shifts of its users via an API. It is considered helpful to integrate the shifts as a separate column in the main schedule view. It must be possible to

[2019-09-29 20:52] vherasme commented on #172
@johnjohndoe I am having problems with this:
[code]

By the way I found your post in SO:
https://stackoverflow.com/questions/6158157/what-does-this-mean-xmlnsxliff-xml

[2019-09-29 21:06] johnjohndoe commented on #172
@vherasme You are missing the namespace definition at the beginning of the XML document in `app/src/main/res/values-es/strings.xml`.

Change this:

[code]

to this:

[code]

The post is not from me - I just edited it :)

[2019-09-30 21:23] amarziali commented on #175
Fell free to assign me. I'll do a pull request for hackoctoberfest

[2019-10-01 02:25] rferromoreno commented on #172
Please if you still need help let me know. I'm also willing to contribute.

[2019-10-01 07:07] spmvanmierlo commented on #176
You can assign me here as well. Glad to help you out!

[2019-10-01 08:53] Ikhiloya commented on #174
Hi I’d like to take this

[2019-10-01 14:42] kazigk commented on #173
I'll do it :)

[2019-10-01 17:27] johnjohndoe commented on #174
@Ikhiloya You are welcome to complete the optional items which @today- has not translated in #183.

[2019-10-01 17:31] johnjohndoe commented on #173
@kazigk Go ahead. You are welcome.

[2019-10-01 19:58] AniVerma17 commented on #127
I am working on this.

[2019-10-01 22:07] Ikhiloya commented on #174
okay. thanks

[2019-10-01 23:29] Ikhiloya commented on #174
Any particular translator used here? I'm thinking of using google translate

[2019-10-02 06:29] johnjohndoe commented on #174
@Ikhiloya I hope this is a bad joke. The translation should be done by a native speaker.

[2019-10-02 06:40] johnjohndoe commented on #180
Resolved with c60f58686b4237724cd13f3766393070d2ebc2df.

[2019-10-02 06:40] #180 closed

[2019-10-02 06:52] johnjohndoe commented on #172
Please mind that I will **not** be able to reply quickly since I am on vacation for a while (Oct 3-31).

[2019-10-02 06:53] johnjohndoe commented on #173
Please mind that I will **not** be able to reply quickly since I am on vacation for a while (Oct 3-31).

[2019-10-02 06:53] johnjohndoe commented on #175
Please mind that I will **not** be able to reply quickly since I am on vacation for a while (Oct 3-31).

[2019-10-02 06:56] #176 closed

[2019-10-02 07:03] vherasme commented on #172
I ran the app on my device last Sunday. I will do it again tonight to make sure everything works

[2019-10-02 08:21] Ikhiloya commented on #174
I didn’t know, I’m not a native speaker. I can’t handle it anymore then. Thanks

[2019-10-02 09:01] johnjohndoe commented on #174
Okay. Thank you for the clarification. Then this issue is again free to be resolved by someone else.

[2019-10-02 15:22] akarsh commented on #10
I propose these two icons,
1. Time
![baseline_access_time_black_18dp](https://user-images.githubusercontent.com/845598/66056647-bd18ec80-e537-11e9-9e1e-b733501f1757.png)

URL: https://material.io/resources/icons/?icon=access_time&style=baseline

2. Room
![baseline_room_black_18dp](https://user-images.githubusercontent.com/845598/66056556-9a86d380-e537-11e9-8ac5-cdeb10af02d5.png)

URL: https://mate

[2019-10-02 15:39] johnjohndoe commented on #10
I like the icons in general. I would prefer to have bother either in outline style or in filled style for consistency reasons.
Regarding the background color please mind that it can be changed at any time. Therefore, it is important that the icons can be tinted. I am not sure if tinting is possible with the current `minSdkVersion`. Please find out if light or dark icons make sense as a default in

[2019-10-02 18:02] amarziali commented on #175
No issues. BTW I just opened the PR. On your hands right now..and have a good holidays ;)

[2019-10-02 19:28] akarsh commented on #10
Q1. So which one to be picked for room icon. Is it fill or outline?

1. Room icon can be changed into either fill or outline
![Screen Shot 2019-10-02 at 20 57 01](https://user-images.githubusercontent.com/845598/66073380-3b38bb80-e557-11e9-9a86-3961913085a1.png)
![Screen Shot 2019-10-02 at 20 57 10](https://user-images.githubusercontent.com/845598/66073381-3b38bb80-e557-11e9-871e-b5f87d9803b4.png)

[2019-10-02 20:10] #127 closed

[2019-10-03 09:00] today- commented on #174
@yanicka
Translation was completed in this PR https://github.com/EventFahrplan/EventFahrplan/pull/183/files

[2019-10-03 09:51] johnjohndoe commented on #174
Not completely. Optional todos are still open.

[2019-10-03 20:32] JekRock commented on #174
@johnjohndoe I can add Ukrainian translation if you're interested in it. Sorry for writing it here, haven't found the issue for that.

[2019-10-04 10:41] aseggemu-fyber opened #189 "Cannot build the project"
# Environment
 - Android Studio 3.5.1
 - Build #AI-191.8026.42.35.5900203, built on September 25, 2019
 - JRE: 1.8.0_202-release-1483-b49-5587405 x86_64
 - JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
 - macOS 10.14.6
 - Gradle version: 5.6.2
 - Android Gradle plugin Version: 3.5.1

# How to reproduce
1. Clone the project- EventFahrplan
2. Branch: master
3. Open Android Studio and click on `im

[2019-10-06 12:01] Talisantos commented on #189
I will work on this

[2019-10-08 17:43] Toinane commented on #170
still on the translation @sebastienvermeille ?

[2019-10-09 06:42] BoFFire commented on #170
Done here ;)
https://rosette.eu.org/projects/evenfahrplan/eventfahrplan/

[2019-10-09 12:26] #189 closed

[2019-10-11 14:07] johnjohndoe commented on #174
@JekRock Does it differ significantly from Russian?

[2019-10-11 15:37] JekRock commented on #174
@johnjohndoe they are similar only if you know both. Most of Ukrainians speak Russian. But most people from Russia don't speak Ukrainian.

[2019-10-13 00:15] johnjohndoe commented on #174
@JekRock I appreciate your offer. Please create a pull request following the description in this issue and the contribution guidelines. I will have time to review it at the end of the month.

[2019-10-31 21:47] #174 closed

[2019-11-01 12:42] johnjohndoe commented on #172
Left to translate: the `cccamp2019` strings.

[2019-11-01 12:45] johnjohndoe commented on #170
@BoFFire Are you going to submit a pull request here on GitHub?

[2019-11-01 12:47] johnjohndoe commented on #175
Left over to translate: Strings for `ccc35c3` and `cccamp2019` flavors.

[2019-11-01 13:20] johnjohndoe opened #195 "Translation for notification channel names does not apply"
# Environment
- App version: [1.40.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.40.0)
- Android version: 10
- Branch: master
- Device: Pixel 2

# How to reproduce
1. Set your system language to German
2. Visits the "Einstellungen" screen and tap "Benachrichtigungen anpassen ...".
3. The notifications screen shows two notifications channels with their German name.
  ![Notifica

[2019-11-02 17:48] vherasme commented on #172
@johnjohndoe Which ones? Pls give me instructions so I can keep working on it

[2019-11-02 18:27] johnjohndoe commented on #172
@vherasme Please see the open checkbox in the issue description above.

[2019-12-01 15:36] #10 closed

[2019-12-12 21:07] johnjohndoe commented on #30
@sedrubal Please notice that I worked on an integration of the Engelsystem shifts. The current implementation preview is open for [public testing](https://twitter.com/tbsprs/status/1205221641866883075). See  https://github.com/EventFahrplan/EventFahrplan/pull/200.

[2019-12-17 17:35] #181 closed

[2019-12-18 17:51] johnjohndoe opened #202 "36C3 / F-Droid deployment"
# Description
- This issue has the purpose to collect all **questions and answers** related to the [F-Droid](https://f-droid.org) deployment of the **36C3** flavor of the schedule app.

# F-Droid repository for 36C3
- Add this repository to your F-Droid app in order to retrieve the **latest version** of the 36C3 Schedule app.  :arrow_right: [CCC F-Droid repository](https://fdroid.gitlab.io/ccc/)
-

[2019-12-18 18:07] Bubu commented on #202
So, I'm confused again about the app, will this be an update to any previous version? Or get a new appID again? What shall we build, from where and starting when?

(Pretty sure it won't be in the official repo in time again.)

[2019-12-18 19:00] johnjohndoe commented on #202
It will be an update of the [35C3 Schedule app](https://f-droid.org/en/packages/info.metadude.android.congress.schedule/).

The package name aka appID will stay the same.

You can pick up the [v.1.41.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.41.0) tag from this repository as soon as I push it.

I will let you know when I push it.

I still have hope. I just pushed a [minor

[2019-12-18 19:13] eighthave commented on #202
I synced the description and translations, the update looks good, so it doesn't need to change every year ;-)

[2019-12-19 18:06] johnjohndoe commented on #202
@Bubu I pushed the [v.1.41.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.41.0) tag. You can trigger an F-Droid build.

[2019-12-19 18:36] torantal commented on #3
One year later, 36c3 coming up, still searching for search... :)

Interface-wise I would suggest the view as for favourites and a simple full text search box and the list gets populated with every hour. Perhaps some basic sorting - timeline, appearances, speaker, title.

[2019-12-19 18:47] johnjohndoe commented on #3
@torantal True. At this point time it is still a matter of resources. I am driving this project on my own, [unpaid](https://github.com/sponsors/johnjohndoe) and in my free time. I have to prioritize the work. I am trying to [make transparent](https://github.com/EventFahrplan/EventFahrplan/milestones?state=closed) what I work on to let people follow along.

Nevertheless, I appreciate you interest i

[2019-12-19 19:06] Bubu commented on #202
Added to the build metadata. No idea when it will build.  Auto updates should work from now on.

[2019-12-19 21:07] johnjohndoe commented on #202
Thanks. Will there be a separate F-Droid repository which users have to manually add similar to the ones from last Congress and Camp (linked above)?

[2019-12-19 21:10] Bubu commented on #202
Currently working on the automation behind that.
It will be that same repo as at camp.

[2019-12-19 22:16] torantal commented on #3
If an interface mockup would help I'd be happy to sketch something out.

[2019-12-19 22:52] johnjohndoe commented on #3
Visuals drafts are always helpful. It might attract others to work on this issue.

In this context I think it would make sense to reconsider how and where to put all the toolbar items in generell when adding such a think as search and filters. A bottom navigation or a floating action button come to my mind but I have not thought through which idea leads to a good user experience. If a redesign is

[2019-12-19 23:00] Bubu commented on #202
@johnjohndoe The apps should be deployed to that repo, when I start it I get a connection failure: unknown adress, raw.githubusercontent,com. Is that to be expected at this point?

[2019-12-19 23:12] johnjohndoe commented on #202
@Bubu I just add the repository fresh to a phone, installed and started the app without problems. To me it looks good. The failure looks as if there is missing connectivity to resolve the DNS address. The commata in `raw.githubusercontent,com` is a typo here, I guess?

[2019-12-19 23:24] Bubu commented on #202
Working now. Knowing my ISP at home a DNS problem sounds very likely....

(Just submitted a crash report though :))

[2019-12-20 11:17] johnjohndoe commented on #202
Nice. I updated the first post :arrow_up: in this issue and the Congress wiki.
Where is the page hosted? Can we make it a bit more beautiful similar to the [35C3 instance](https://fdroid.gitlab.io/35c3/fdroid/repo/)?

[2019-12-20 18:18] Bubu commented on #202
Still working on it.

[2019-12-21 17:58] Bubu commented on #202
Done!
Please test and report any problems: https://fdroid.gitlab.io/ccc/

The repo should be able to auto-deploy updates every 15 minutes.

[2019-12-23 15:48] htgoebel opened #203 "Allow to hide sessions"
Currently one can only select sessions positively (star, alarm, like, add to calendar).

I would like to be able to "deselect" (or hide) session, that I'm not interested in. When preparing for the day, This would allow to reduce the number of sessions in view.

[2019-12-23 18:37] johnjohndoe commented on #203
@htgoebel Thank you for your feature request. Actually, this is one of the most interesting features for me, too. Actually, I created another issue which contains your idea and even more. See https://github.com/EventFahrplan/EventFahrplan/issues/12.

I close this issue as a duplicate. Let's continue the conversation in the linked issue.

[2019-12-23 18:37] #203 closed

[2019-12-23 21:26] johnjohndoe opened #204 "IllegalStateException: Lecture list does not contain eventId"
Crash report from different users:

- Sent: 17.12.2019 - 23.12.2019
- App version: [v.1.40.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.40.0), [v.1.41.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.41.0)
- Android version: 9, 10
- Device models: ONEPLUS A6013, ONE A2003, HMA-L29, moto g(7), Pixel 3

# Stacktrace
[code]

# Log
[code]

# User report

# Relat

[2019-12-23 21:31] johnjohndoe commented on #204
Here are the schedule files associated with the time stamps mentioned in the log:

- [awk; chaos-west 1.0; open-infra 6; wikipaka 0.4; chaoszone 0.2; lightning Yttrium; wiki 2019-12-17 14:20](https://raw.githubusercontent.com/voc/36C3_schedule/fb1159a43e3262ce7d5aa3c5f8060cd32b17c6ae/everything.schedule.xml)
- [awk; chaos-west 1.0; open-infra 6; wikipaka 0.4; chaoszone 0.2; lightning Yttrium; wiki

[2019-12-24 09:55] johnjohndoe opened #205 "NullPointerException: Attempt to invoke virtual method 'void AppRepository.cancelLoading()' on a null object reference"
Crash report from a user:

- Sent: 22.12.2019 - 24.12.2019
- App version: [v.1.41.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.41.0)
- Android version: 9
- Device models: Mi MIX 2, Redmi Note 7

# Stacktrace
[code]

# Log
[code]

[2019-12-24 10:11] #205 closed

[2019-12-25 08:36] johnjohndoe commented on #202
@Bubu I pushed the [v.1.41.1](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.41.1) tag. F-Droid already built it. Nice. Merry :christmas_tree:

[2019-12-25 10:50] rugk commented on #204
Me too

[2019-12-26 23:45] ari-s commented on #70
This is still the case right? Just stumbled upon "2:00 nachm" in the favourites and now I don't know at what time the event is happening :( (german is correct, it's the 12h format that's bothering me)

would be great if times would be displayed in a reasonable format!

[2019-12-27 08:51] johnjohndoe commented on #202
@Bubu I pushed the [v.1.41.2](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.41.2) tag.

[2019-12-27 09:48] CodingSpiderFox opened #211 "Feature request: add feature request template for "New issue" on GitHub"
I'm a bit confused that when I click "New Issue" on this repository, I cannot create an issue of type "Feature request" but only "Bug report" or "Crash report"

[2019-12-27 10:01] CodingSpiderFox opened #212 "Feature request: auto reload after pasting personal URL from engelsystem.de"
# How to reproduce
Paste own engelsystem JSON URL in the settings view

# Observed behavior
- went to schedule overview
- swiped to left side to see my angel shifts
- nothing there

# Expected behavior
- app loads the content in the background without any further manual interaction after pasting the URL
- when going to the event overview, it should show the data immediately

# Related
#181

[2019-12-27 10:44] johnjohndoe commented on #211
There is no special template for a feature request. Just use the link at the bottom to create a "blank issue" indicated in the sceenshot.

![image](https://user-images.githubusercontent.com/144518/71514267-2b9ee980-289e-11ea-96a7-068a1415cf17.png)

[2019-12-27 10:46] johnjohndoe commented on #212
Thanks for your feature request. I actually implemented this feature yesterday, see https://github.com/EventFahrplan/EventFahrplan/pull/209. It has been release this morning with v.1.41.2.

[2019-12-27 10:46] #212 closed

[2019-12-27 13:44] susca opened #213 "Support for timezones"
In the Fahrplan view my local time is displayed with a yellow marker. This is useful only to people in the timezone of the event, i.e. UTC+01. For everybody else, the alarms are not usable and they have to scroll down or up every time they open the app.

Please either read the current timezone from the OS or make it possible to choose an offset or the timezone.

I am not a good Java programmer, he

[2019-12-27 17:52] johnjohndoe commented on #213
@susca, thank you for filing this issue. If I understand it correctly it matches what is described in issue #69. If you agree I kindly ask you to continue the discussion there and to close this issue. Thank you.

[2019-12-27 17:58] johnjohndoe commented on #70
I do not understand. If you are running your device on German and reading "2:00 nachm" why is it unclear when the event takes place? Where is the 12h in this case?

I checked the favorites when I set my device to English. If I use 24h setting or 12h setting it looks reasonable. Can you please explain the exact case?

[2019-12-27 22:34] fapdash opened #216 "Newly added stages / locations don't show up"
# Environment
- App version: 1.41.1
- Android version: LineageOS 14
- Branch:
- Device: Galaxy S3

# Behavior

I don't know if I reach the people running the 36c3 Fahrplan this way, so please point me in the right direction if this is the wrong place.
We added a new Room to our pretalx today.
The sessions scheduled there show up in the "Schedule changes" changelog but I can't find the room by swip

[2019-12-28 00:53] johnjohndoe commented on #216
Hi @fapdash. This project "only" renders the schedule data. If you need support with integrating your stage I recommend you talk to the [@c3voc people](https://twitter.com/c3voc) and maybe file an issue in https://github.com/voc/schedule. Please make sure to include a bit more context and details such as which Pretalx instance and the name of your session.

[2019-12-28 00:53] #216 closed

[2019-12-28 01:14] susca commented on #213
@johnjohndoe you are right, I didn't see that issue (#69 ) . Thanks for pointing it out!

closing this one.

[2019-12-28 01:14] #213 closed

[2019-12-28 02:51] fapdash commented on #216
@johnjohndoe Thanks, this was really valuable info. :)

Anyways, the problem was sitting in front the screen in this instance.
I was searching for a day for which there was no session scheduled for this room, so the app omits the room in the overview.

[2019-12-28 11:04] ari-s commented on #70
my phone is set to 24h format and as far as I've noticed uses this everywhere. In the favourites however,  12 hour format is displayed.

sorry for being unclear here. Of course, technically 2:00 is in the afternoon, although 2:00 (24hour-format) feels much more like afternoon then 14:00

[2019-12-28 11:38] nick-koch opened #218 "To many entries in timetable"
# Environment
- App version: 1.41.2
- Android version: 9
- Device: Samsung Galaxy S8

# How to reproduce
1. Open the App
2. Open the Borg timetable of day 2

# Observed behavior
- There are too many entries between 11:30 and 13:45
![Screenshot_20191228-123714_36C3 Schedule](https://user-images.githubusercontent.com/39302005/71543067-cf57ca80-296e-11ea-87d8-b15dab407cf5.jpg)

[2019-12-28 12:37] #218 closed

[2019-12-28 12:51] #204 closed

[2019-12-28 16:41] johnjohndoe commented on #202
@Bubu I pushed the [v.1.41.3](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.41.3) tag.

[2019-12-29 11:56] ByteHamster opened #222 "Inconsistent day change (Angel shifts)"
# Environment
- App version: v.1.41.2
- Android version: Lineageos 16
- Device: OnePlus 3T

# How to reproduce
1. Have an Angel shift at 00:15

# Observed behavior
Shift is shown the next day, while lectures starting at that time are shown the day before

# Example

"Access control: Lounge entrance" should be shown in the evening of day 2 instead of the morning of day 3.

[code]

[2019-12-29 12:41] #120 closed

[2019-12-29 12:55] hartwork opened #224 "Returning from talk details to schedule view takes as much as ~4 seconds every time"
# Environment
- App version: 1.41.3
- Android version: 8.0.0
- (Branch: Google play default?)
- Device: Huawei P10 Lite

# How to reproduce
Thanks for developing this app and sharing it as software libre! :+1:

1. Open app, starts in table schedule view
2. Click any single talk, loads talk detail view
3. Press device "<" (back/escape) button to go back to table view

# Observed behavior
From press

[2019-12-29 13:19] #125 closed

[2019-12-29 13:51] johnjohndoe commented on #202
@Bubu I pushed the [v.1.41.4](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.41.4) tag.

[2019-12-29 16:40] JPRuehmann opened #226 "stalls after multiple hours."
# Environment
- App version: 1.41.3
- Android version: 9
- Branch:
- Device: Nokia3

# How to reproduce
1. Ordered list of steps
Use normaly with autoupdate.
2. to reproduce
3. the issue

# Observed behavior
- What happened?
App goes slower from Update to Update
- Add screenshot(s).
The only Way is to delete all App data and Cache and forcly close the app. Than it works again for some hours. But e

[2019-12-29 16:52] johnjohndoe commented on #195
@ideadapt Can you comment here please - such as "I will work on this" - then I can assign you to the issue.

[2019-12-29 17:21] johnjohndoe commented on #226
@JPRuehmann Thank you for the feedback. Actually, there is an open issue for this behavior. Please follow-up in #108. I close this issue as a duplicate.

[2019-12-29 17:21] #226 closed

[2019-12-29 17:22] johnjohndoe commented on #224
@hartwork Thank you for the feedback. Actually, there is an open issue for this behavior. Please follow-up in #108. I close this issue as a duplicate.

[2019-12-29 17:22] #224 closed

[2019-12-29 17:23] #211 closed

[2019-12-30 20:13] johnjohndoe opened #228 "IllegalStateException: Cannot perform this operation because the connection pool has been closed."
Crash report from multiple users:

- Sent: 27.12.2019 - 30.12.2019
- App versions: [v.1.41.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.41.0) - [v.1.41.4](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.41.4)
- Android versions: 5.0.1, 6.0.1, 7.0, 7.1.1, 8.1.0, 9, 10
- Device models: XT1676, Pixel XL, Aquaris X Pro, A0001, SM-G955F, Nexus 7, ONEPLUS A5010, Pix

[2019-12-30 20:18] ideadapt commented on #92
I am on this. I try to fix #70 as well within the same PR.

[2019-12-30 20:25] johnjohndoe commented on #92
Please note that I already started using the library in a few places. I also believe it is a wise idea to wrap all date related code behind an interface as I started with in the [interface-time-class](https://github.com/EventFahrplan/EventFahrplan/tree/interface-time-class) branch (work in progress). All date/time operations must be unit tested.

[2019-12-30 23:26] johnjohndoe opened #229 "SQLiteDatabaseLockedException: database is locked"
Crash report from multiple users:

- Sent: 19.12.2019 - 30.12.2019
- App versions:  [v.1.41.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.41.0) - [v.1.41.3](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.41.3)
- Android versions: 5.0.1, 6.0.1, 7.1.1, 7.1.2, 8.0.0, 8.1.0, 9, 10
- Device models: Nexus 5,  Pixel 3 XL, SM-T550, ONEPLUS A5000, SM-G930F, moto g(6) p

[2019-12-31 04:40] odzhychko opened #230 "Alternative view for sessions in a list view"
Currently sessions can only be viewed in the calendar. I would like to have the possibility to see all sessions in a list (ordered by the starting time). I think this would be useful, because one could see which session are at the same time without having to swipe through all existing locations.

For example the [IOS-app](https://apps.apple.com/de/app/congress-36c3/id941205524) has such a list vie

[2019-12-31 04:43] ek-san commented on #230
If you like the idea, I could try to implement it.

[2019-12-31 07:26] ideadapt commented on #70
I am on this.

[2019-12-31 18:16] ideadapt commented on #230
@ek-san Another use case that suits a list view is searching. Maybe we could build a filterable (and sortable) list (see #3).
Some questions:
- From the screenshot it looks like the sessions are grouped by track?
- How would visually group / mark sessions at the same time? (Or do you simply show the time, and the user has to figure out the rest by his own?)

[2019-12-31 18:31] ek-san commented on #230
Adding filters/search would be nice. The search could look for the text in title, description, speaker name, location name and track name.

By default I would sort by start time. Additionally one could implement sort by title, speaker, tracks or places.

I overlooked, that the IOS app groups the talks by track. I think grouping in not needed, because the user could sort by track, speaker etc..

I

[2019-12-31 19:21] johnjohndoe commented on #230
@ek-san Thank you for bringing up this feature discussion. Please mind that the issue tracker already contains a separate [issue for searching and filtering](https://github.com/EventFahrplan/EventFahrplan/issues/3).

[2019-12-31 21:44] rugk commented on #46
One congress and one year later I stil have the same opinion. Uhm just detach.

And why am I assigned?

Also the reason why nobody reacts is probably because nobody cares, just because this is not bad bug or so… :smile:

[2019-12-31 21:50] rugk commented on #69
Duplicate of https://github.com/EventFahrplan/EventFahrplan/issues/70 (double post?)

[2020-01-01 00:44] rugk opened #231 "Show end time of Fahrplan events"
When a session or so ends is only visible in the overview.

When I already have the detail screen opened, I can only:
1. either go back to the main screen
2. add the entry to the calender (and cancel that)

Thus better show the end in the details screen, too. :smile:

[2020-01-01 00:51] johnjohndoe commented on #231
@rugk Thank you for bringing this up. Please note that this is closely related to #227.

[2020-01-01 01:55] rugk commented on #231
Okay #227 seems to include the _duration_. So what needs to be discussed is what is more useful/better?
duration?
end time?
duration+end time?

IMHO the last, because the end time is useful to check whether there is time overlap with other things you want to do.
The duration to see how "large" an event is.

[2020-01-01 16:08] johnjohndoe commented on #231
Another aspect which needs to be considered is _space_ resp. _layout_. As you can see from the screenshot (taken from a Nexus 5) there is already not enough horizontal space to display the _location_ name.

![36C3-detailsbar](https://user-images.githubusercontent.com/144518/71643351-0accfe80-2cb9-11ea-910e-9087fcb1193c.png)

If we add additional information one need to think about how to display t

[2020-01-01 16:16] johnjohndoe commented on #46
@tuxmobil would you be okay with changing the connection between your and this repository? It would mean that this repository becomes the major upstream repository.

# Before

# After

To accomplish this we both need to contact the GitHub support and ask them to change the connection. I did that before for another project.

[2020-01-01 16:26] johnjohndoe commented on #69
Issue #70 only addresses the system setting where users can choose between 12- and 24-hours format. This issue is about providing an in-app setting to let users decide whether date/time information should be displayed in their local time zone or in the time zone of the event.

I agree that the two issues are certainly related but since this issue involves work to be done in the UI of the app I lik

[2020-01-01 17:30] rugk commented on #231
First of all I'd remove the ID there. What use case does this ID even have??

Secondly, I guess the top bar is indeed really crowded.
So maybe just don't show it at the top there at all; or change it to two lines, include it in the scrollable part; just add it at the end; add another bar at the bottom etc.

[2020-01-01 19:58] johnjohndoe commented on #216
Aah. So you added a session on another day while the app had a day open where there was no session scheduled for this room. Damn. I hope it did not take you too long to find out.

[2020-01-01 21:07] johnjohndoe commented on #202
36C3 is over and I hereby declare F-Droid deployment as a big success. :tada:
Thank you to everyone who help with this. :+1:
I will close this issue now. :wave:

[2020-01-01 21:07] #202 closed

[2020-01-02 14:30] hramberger opened #232 "Overlap display on favorites"
For easier planning and scheduling of events in the favorites section it would be nice to get an indication if favorite events overlap.
Attached you will find different visualizations of this overlap indication on the overview as well as on the favorite list.

## Overview
To easily see which events would overlap with the currently selected favorites these events are specially marked.

### Alternat

[2020-01-02 16:11] ideadapt commented on #92
@johnjohndoe I started working on this on branch [bugfix-92/spread-date-lib-usage](https://github.com/ideadapt/EventFahrplan/tree/bugfix-92/spread-date-lib-usage) (branched off from interface-time-class). After the 10th of January I would have time to discuss my work. Just to align our ideas and goals so that my work is not useless at the end :). Maybe we could have a call then? You can contact me

[2020-01-03 10:45] johnjohndoe commented on #92
@ideadapt I contacted you via email to we can arrange some call. Please note that the [interface-time-class](https://github.com/EventFahrplan/EventFahrplan/tree/interface-time-class) branch is not well tested - there work-in-progress. Keep this in mind if you base your work on top of it. Also feel free to "steal" the code in the commit and rewrite it to your needs.

[2020-01-04 23:54] ek-san commented on #230
@johnjohndoe I will mind the issue for searching and filtering [#3].

What do you think about adding the list view somehow like this:

| ![Screenshot from 2020-01-05 00-33-43](https://user-images.githubusercontent.com/49478222/71772918-2dc70f00-2f54-11ea-9f0f-8539e53bd1fb.png)        |  ![Screenshot from 2020-01-05 00-33-43-edited](https://user-images.githubusercontent.com/49478222/71772917-2d2e78

[2020-01-05 10:07] johnjohndoe opened #238 "NoSuchElementException: List is empty. at kotlin.collections.CollectionsKt___CollectionsKt.first"
Crash report from multiple users:

- Sent: 29.12.2019 - 05.01.2020
- App versions: [v.1.41.3](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.41.3), [v.1.41.4](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.41.4)
- Android versions: 9, 10
- Device models: MI 6, ELE-L29, Pixel 2

# Stacktrace
[code]

# Log
[code]

# User report

# Related
- [Issue #214: Don't use My

[2020-01-05 11:06] johnjohndoe commented on #92
@ideadapt Please note that - besides rebasing the branch - I also moved the `Clock` and `SystemClock` to its own package in the `commons` module to keep things tidy.

[2020-01-05 11:07] johnjohndoe commented on #238
@cketti For you interest: seem like the underlying bug is still around. I added some logging for future analysis.

[2020-01-05 14:19] johnjohndoe commented on #230
Thank you @ek-san for visualizing your ideas - this is very helpful. - Recently @hramberger started a discussion about **visualizing overlapping favorites**, see issue #232. This appears to me to resolve the same overall demand of seeing "which session[s] are at the same time". Please have a look at the ideas in #232.

With regards to the search and filter function I would love to see this being i

[2020-01-05 15:03] ek-san commented on #230
Visualizing **overlapping favorites** only helps if you have the sessions favorized. But it does not help if one wants to know which sessions (that are not favorized) start in the next half hour for example. If one wants to get this information from the **grid layout**, one has to swipe through all rooms.

Maybe a **list layout** is not so much about seeing overlapping sessions, but more about exp

[2020-01-06 13:04] cketti commented on #238
PR #214 was never meant to fix the issue that the app crashes when an event couldn't be found in the database at all.

Updating the UI when the database has been updated should reduce the likelihood of this issue occurring. But there's always going to be a chance that the user selects an event that existed in the past and will have been removed by the time the detail view is shown. Code needs to b

[2020-01-08 23:09] #228 closed

[2020-01-08 23:09] #229 closed

[2020-01-09 20:48] johnjohndoe commented on #202
Post mortom :skull: I pushed the [v.1.41.5](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.41.5) tag.

[2020-01-10 12:47] johnjohndoe opened #243 "Lectures table does not contain a lecture with ID ... List is empty."
:warning: This is the same error as #238. To get more detailed error logging has been added in version 1.41.5, see #239.

---

Crash report from a user:

- Sent: 10.01.2029
- App version: 1.41.5
- Android version: 8.1.0
- Device model: Aquaris X

# Stacktrace
[code]

# Log
[code]

# User report

# Related
- [Issue #238: NoSuchElementException: List is empty. at kotlin.collections.CollectionsKt___C

[2020-01-10 12:48] johnjohndoe commented on #238
This error will be continued in #243 with more detailed error logging implemented as of v.1.41.5.

[2020-01-10 12:48] #238 closed

[2020-01-10 13:02] johnjohndoe commented on #243
The update mechanism for _Engelsystem_ shifts can be found in `AppRepository#updateShifts`. There might be a smarter way to handle these updates.

Additionally, it might make sense to refresh the grid schedule screen once more via `MainActivity#fetchFahrplan`.

Please mind [this comment](https://github.com/EventFahrplan/EventFahrplan/issues/238#issuecomment-571130720) from @cketti when working on

[2020-01-26 18:50] ideadapt commented on #195
I've been working on this in #225

[2020-01-26 18:58] #195 closed

[2020-02-19 20:28] johnjohndoe opened #246 "Migrate to data driven architecture"
**Status:** Draft / Work in progress :construction:

# Current state
- Data (state) is stored both in the database and in static fields in the `MyApp` application class.
- UI interaction (visiting a screen) and user input triggers database and network actions such as loading data.
- Data (state) is retrieved via shortcuts from static fields in the `MyApp` application class.
- Unnecessary database

[2020-03-03 18:33] yuchi1989 opened #248 "potential memory leak of "instance" Activity variable"
Hi,

We (@yuchi1989 + @guitard0g) are researchers in Columbia University developing a static analysis tool to analyze memory leak bugs related to UI objects. Our tool identifies one bug in your source code (particularly the onCreate method of schedule/MainActivity.java). Here is the code snippet.

https://github.com/EventFahrplan/EventFahrplan/blob/edc70c489a5b69bfd57ed5c1fe645c436967ca43/app/src/

[2020-03-04 20:28] johnjohndoe commented on #248
Hi @yuchi1989. Thank you for pointing out this issue.

I am already aware of the implications of these static references. The code base is rather old as you can see from the commit history. I am currently in the process of reworking it. Once aspect of it will be to get rid of these static references. If you are interested you can follow along in issues like #246. I am trying to make the next steps

[2020-03-04 20:28] #248 closed

[2020-03-16 20:01] #70 closed

[2020-03-16 20:01] #92 closed

[2020-03-16 21:46] ideadapt commented on #108
I have created a quick and dirty PoC using RecyclerView. The result:
![recyclerviewpoc](https://user-images.githubusercontent.com/1071386/76801933-e7552280-67d6-11ea-8653-e5f01e975f73.gif)

It felt like, doing a proper implementation, that has equivalent functionality to what the UI has today, wouldn't be too hard, since most of the existing code (i.e. column snap scroller, row / column calculatio

[2020-03-19 19:37] ideadapt opened #250 "Name things consistently"
# Observed behavior
Same concepts have different names through out the code base.

E.g. favorite vs starred vs highlighted item. Or lecture vs event.

# Expected behavior
One single name per concept.

# Related
#249

[2020-03-19 20:27] johnjohndoe opened #251 "Modernize testing infrastructure"
# Current state
- Unit test are based on [JUnit 4](https://junit.org/junit4/).

# Target state
- Unit test are based on [JUnit 5](https://junit.org/junit5/).

## TODOs
- [x] Migrate primitive unit tests
- [x] Migrate `MainDispatcherTestRule` test to JUnit 5 extension
- [x] Migrate instrumentation tests
- [x] Migrate parameterized tests
- [x] Remove JUnit 4 dependencies
- [x] Verify number of tests

[2020-03-30 20:49] johnjohndoe opened #254 "Details screen toolbar alarm icon is not updated"
# Environment
- Affected app versions:
    - [v.1.41.3](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.41.3)
    - [v.1.41.4](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.41.4)
    - [v.1.41.5](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.41.5)
    - [v.1.41.5-FOSDEM-Edition](https://github.com/johnjohndoe/CampFahrplan/releases/tag/v.1.41.5-FO

[2020-04-08 22:15] johnjohndoe opened #260 "Time column ignores daylight saving time"
# Environment
- Since commit c10d5d147edb63f34245a0198c646f3274df9a91
- Affected versions: [v.1.42.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.42.0)
- System time: 30.03.2020 (summer time)
- Product flavor: `ccc36C3`
- Example lecture: The "Opening ceremony" in room "Ada" which starts at 11:00am

# How to reproduce
1. Install and start the 36C3 app
2. Take a look at the time

[2020-04-09 15:29] jugendhacker opened #261 "Publish DiVOC app in Fdroid"
I already open a PR on their metadata repo to publish it there, but they want you to confirm that it's okay for you if the app is published there. You can find the PR here: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6607

Maybe you could leave a comment there....

[2020-04-09 17:25] johnjohndoe commented on #261
:heavy_check_mark: I left a comment there.

[2020-04-11 18:35] johnjohndoe commented on #261
:shipit: Available via [https://apt.izzysoft.de/fdroid](https://apt.izzysoft.de/fdroid/index/apk/info.metadude.android.divoc.schedule).

[2020-04-16 18:40] johnjohndoe commented on #261
I guess this can be closed now. Okay @jugendhacker?

[2020-04-17 11:28] jugendhacker commented on #261
Yes it can be closed...

[2020-04-17 11:28] #261 closed

[2020-05-03 19:03] #108 closed

[2020-05-03 19:09] johnjohndoe commented on #108
:loudspeaker: Big shoutout to @ideadapt for his efforts to speeding up the app. :racing_car: Thanks a lot.
Everyone here please give him a hand :clap:

[2020-05-04 11:33] johnjohndoe opened #265 "Migrate project to AndroidX"
# Background
- Development for Android Support Library has stopped with version 28.0.0.
- Improvements and new features are only available via AndroidX libraries (JetPack).

# Prerequisites
- `compileSdkVersion` 28 & `targetSdkVersion 28`
- Everybody should have their branches being merged before this migration starts to avoid complicated rebase sessions. :speech_balloon: Talk to project members b

[2020-05-12 16:25] johnjohndoe opened #271 "Remove kotlin-coroutines-retrofit dependency"
# Current state
- [`ru.gildor.coroutines:kotlin-coroutines-retrofit:1.1.0`](https://github.com/gildor/kotlin-coroutines-retrofit) is used in `EngelsystemNetworkRepository` in the `engelsystem` module. The library depends on [`org.jetbrains.kotlinx:kotlinx-coroutines-core:1.1.1`](https://github.com/Kotlin/kotlinx.coroutines/releases/tag/1.1.1) which was released 24.01.2019.
- [Development of the li

[2020-05-17 17:44] johnjohndoe opened #273 "Use targetSdkVersion 29, Android 10"
:calendar: Due before November 2, 2020.

# :no_good: Blocked by
- ~~[Issue #256: Migrate project to AndroidX]( https://github.com/EventFahrplan/EventFahrplan/issues/265)~~ :heavy_check_mark:
- ~~[Issue #162: Replace deprecated "android.preference" API](https://github.com/EventFahrplan/EventFahrplan/issues/162)~~ :heavy_check_mark:

# Background
- [Meet Google Play's target API level requirement](h

[2020-05-25 16:45] johnjohndoe opened #275 "Schedule view does not render when loading data after turning on WiFi"
_This scenario might not happen too often to actual users. It is more common to a developer who switched off WiFi for some reason._

# Environment
- Affected app version:
  - [v.1.43.1](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.43.1)
  - [v.1.43.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.43.0)
- Device: Smartphones and tablets

# How to reproduce
1. Tu

[2020-05-26 19:21] johnjohndoe opened #278 "Single room schedule does not expand to full with in portrait mode"
# Environment
- Affected app versions:
  - [v.1.43.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.43.0)
  - [v.1.43.1](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.43.1)
- Broken since commit: 75da59ec6c65592af02a14f93cec6c00656731fe
- Android version: Android 10
- Branch: `master`
- Device: Pixel 10

# How to reproduce
1. Install the app pointing to a _sched

[2020-05-26 19:26] johnjohndoe commented on #278
@ideadapt fyi

[2020-05-26 19:35] cketti commented on #278
This might be fixed by #277

[2020-05-26 19:52] johnjohndoe commented on #278
@cketti No, the bug is still present on your branch at this state.

[2020-05-26 20:29] cketti commented on #278
Yeah, nevermind. It's a layout issue. `HorizontalSnapScrollView` has a `layout_width` value of `wrap_content`.

[2020-05-27 18:15] johnjohndoe opened #279 "Room name in details does not match room name in schedule view"
# Environment
- Affected app version:
  - not released at the time of discovery: 27.05.2020
- Broken since commit: 1b3df482d589fa838f789db22ed26a0f888d1830, part of #270.
- Branch: `master`
- Device: Tablets and smartphones

# How to reproduce
1. Install the 36C3 app
2. Open a session from room "Ada" - the details screen names "Ada" as the room on top.
3. Swipe to the far right.
4. Choose a sessio

[2020-05-27 18:17] johnjohndoe commented on #279
@cketti fyi

[2020-05-28 14:58] #279 closed

[2020-06-04 17:16] #278 closed

[2020-06-30 12:31] johnjohndoe opened #285 "Engelshifts room schedule does not expand to full with in portrait mode"
# Environment
- Affected app versions:
  - [v.1.43.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.43.0)
  - [v.1.43.1](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.43.1)
  - [v.1.44.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.44.0)
  - [v.1.45.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.45.0)
- Broken since commit

[2020-06-30 12:31] johnjohndoe commented on #285
@ideadapt fyi

[2020-07-03 16:57] johnjohndoe commented on #250
I started working on this.

[2020-07-09 10:02] johnjohndoe commented on #285
On tablets (tested on Nexus 9, Android 7.1.1) room constraints are broken, too. This might be the same bug - not sure. Here is a screenshot which shows that the `Engelshifts` column and the sessions in third room are distorted:

![screenshot](https://user-images.githubusercontent.com/144518/87026388-f4f64400-c1db-11ea-8019-16bda8e3ef73.png)

[2020-07-10 20:02] #271 closed

[2020-07-17 10:06] #265 closed

[2020-07-17 15:18] johnjohndoe commented on #250
@ideadapt Part 1 is ready for review in PR #290.

[2020-07-26 19:40] ByteHamster commented on #108
Thanks for working on this issue. I was glad to hear that the slowness is fixed.
Unfortunately, I still experience that problem in version 1.44.0.

Steps to reproduce:
- Open the details view of a talk
- Leave the app using the home button
- Wait until Android kills the app. This can be sped up by using the Background processes limit in developer options
- Go back to EventFahrplan using Android's

[2020-07-26 19:48] johnjohndoe commented on #108
@ByteHamster Thanks for the report. Can you please specify which Android version and phone model you are using?

[2020-07-26 20:55] ByteHamster commented on #108
Sorry for that. I use a OnePlus 3T with LineageOS 17.1 (Android 10). It is pretty interesting that I can not reproduce this using an Android 9 or Android 10 emulator using the same apk. This made me curious, so I cloned the project. Now running version 1.44.0-DEBUG (2bae5e49ea0cd7f12132b4f433652514100d9ccc) with the default fahrplan data.

The profiler shows a pretty active main thread during the

[2020-07-26 21:25] johnjohndoe commented on #108
@ByteHamster Thanks for taking your time to look into this.

The underlying problem is not gone but optimized. Basically, @ideadapt added a `RecyclerView` per room which largely sped up the inflation - which is great. See PR #263.
Nevertheless, all rooms of one day are rendered together. The main (tablular) schedule view is not backed by a single recycling mechanism. The view is custom made and do

[2020-08-01 21:23] johnjohndoe commented on #108
# Considered useful
- [Troubleshooting app performance issues with System Trace in Android Studio 4.x](https://www.youtube.com/watch?v=EjmIit_amnE), 31.07.2020

[2020-08-12 12:20] #285 closed

[2020-08-12 14:42] johnjohndoe commented on #46
The link between [this repository](https://github.com/EventFahrplan/EventFahrplan) and [tuxmobil/CampFahrplan](https://github.com/tuxmobil/CampFahrplan) has been reversed by the GitHub support today upon my request.

![tuxmobil/CampFahrplan](https://user-images.githubusercontent.com/144518/90028935-8d3f8700-dcba-11ea-9f5c-642043f254a2.png)

![EventFahrplan/EventFahrplan](https://user-images.github

[2020-08-12 14:42] #46 closed

[2020-08-30 07:06] johnjohndoe commented on #48
@torantal The feature to share individual sessions or all favorites has been implemented and released in version 1.42.0 of the [_36C3 Schedule_ app](https://play.google.com/store/apps/details?id=info.metadude.android.congress.schedule). See #241 for more details and screenshots. Please close this issue if the feature satisfies your request or leave a comment below.

[2020-09-16 22:38] #162 closed

[2020-09-17 20:32] #273 closed

[2020-09-18 21:59] johnjohndoe opened #316 "Append time zone name when sharing a session as plain text"
# Description
- Follow-up on #296.
- This appends the time zone name to the date/time text, e.g. `Tuesday, July 28, 2020 19:00 (Europe/Berlin)`
- This affects the text output when sharing a session via the context menu.
- This is useful in social media because people the session is shared with might not be in the same time zone as the person who shares the session.

# TODOs
- [x] Parse optional `t

[2020-09-18 21:59] johnjohndoe opened #317 "Duplicate"

[2020-09-19 08:50] johnjohndoe opened #318 "Adjust clock/time icon positioning and spacing"
# Description
- The clock icon which is used in the session details screen looks somewhat odd positioned.

  ![Session details clock icon](https://user-images.githubusercontent.com/144518/93663005-ba731800-fa64-11ea-8204-3dd56b97efc4.png)

# TODOs
- [x] Adjust either the SVG icon itself or the positioning or spacing.
- [x] Check different layout files for smartphones and tablets
- [x] Check the sp

[2020-09-19 11:04] johnjohndoe opened #319 "Migrate from id to guid"
# Status
- :construction: Draft - details to be discussed and written down here.

# Current state
- The `id` XML attribute is parsed from the schedule XML and used with the app (_details tbd._).
- `id` values are not guaranteed to be unique - `id` values used for different sessions cause errors.

# Target state
- The `guid` XML attribute is parsed from the schedule XML and used with the app (_deta

[2020-09-19 11:05] johnjohndoe opened #320 "Duplicate"
Duplicate.

[2020-09-19 11:06] #320 closed

[2020-09-19 16:36] #317 closed

[2020-09-19 18:24] johnjohndoe commented on #114
:link: https://github.com/voc/schedule/issues/39

[2020-09-21 17:12] johnjohndoe opened #321 "Expose currently chosen values in Settings screen"
# Current state
- Users visiting the _Settings_ screen **cannot** immediately see the **currently chosen value** for some settings items.
- Example: _Default alarm tone_

   ![Settings screen](https://user-images.githubusercontent.com/144518/93798008-40e25200-fc3d-11ea-95de-71dfe3adce81.png)

# Target state
- Users visiting the _Settings_ screen **can** immediately see the **currently chosen value

[2020-09-25 08:13] johnjohndoe opened #325 "Complete Swedish translation"
It would be nice to have a Swedish translation of the app. :sweden:

The _Translation Editor_ in _Android Studio_ let's you easily identify the missing translations as shown in the screenshot.

![Android-Studio-Translation-Editor](https://user-images.githubusercontent.com/144518/65724092-fe307d00-e0af-11e9-8dd6-743d6d00237b.png)

Please use the automatic formatting for the string files which Andro

[2020-09-25 08:22] johnjohndoe opened #326 "Add Japanese translation"
It would be nice to have a Japanese translation of the app. :jp:

The _Translation Editor_ in _Android Studio_ let's you easily identify the missing translations as shown in the screenshot.

![Android-Studio-Translation-Editor](https://user-images.githubusercontent.com/144518/65724092-fe307d00-e0af-11e9-8dd6-743d6d00237b.png)

Please use the automatic formatting for the string files which Android

[2020-09-25 08:35] johnjohndoe opened #327 "Complete and update Dutch translation (10/2020)"
Review, complete and update existing Dutch translations of the app. :netherlands:

The _Translation Editor_ in _Android Studio_ let's you easily identify the **missing** translations as shown in the screenshot. Existing translations might be **outdated** or **incomplete** and must be checked critically.

![Android-Studio-Translation-Editor](https://user-images.githubusercontent.com/144518/65724092

[2020-09-25 09:06] johnjohndoe opened #328 "Complete and update Russian translation"
Review, complete and update existing Russian translations of the app. :ru:

The _Translation Editor_ in _Android Studio_ let's you easily identify the **missing** translations as shown in the screenshot. Existing translations might be **outdated** or **incomplete** and must be checked critically.

![Android-Studio-Translation-Editor](https://user-images.githubusercontent.com/144518/65724092-fe307d

[2020-09-25 09:09] minibugdev commented on #318
I am working on this"

[2020-09-25 09:14] johnjohndoe opened #329 "Complete and update Portuguese translation (10/2020)"
Review, complete and update existing Portuguese translations of the app. :portugal:

The _Translation Editor_ in _Android Studio_ let's you easily identify the **missing** translations as shown in the screenshot. Existing translations might be **outdated** or **incomplete** and must be checked critically.

![Android-Studio-Translation-Editor](https://user-images.githubusercontent.com/144518/657240

[2020-09-25 09:52] rizabek-mukanov commented on #328
@johnjohndoe , I am english/russian speaker, but I do not have any android development experience, is it required to complete translations?
I was hoping I will open translation editor, which is on your screenshot, and fill all missing fields for russian language and that will be enough.

[2020-09-25 09:55] johnjohndoe commented on #328
@rizabek-mukanov Android development is not a requirement. There are a few XML attributes (`xliff`) which need to be kept in the file but please give it a try. If you get lost on the way I am happy to help out.

[2020-09-25 09:57] rizabek-mukanov commented on #328
@johnjohndoe , sounds good. let's try

[2020-09-25 11:39] rizabek-mukanov commented on #328
@johnjohndoe , can you please take a look at [this commit](https://github.com/rizabek-mukanov/EventFahrplan/commit/76d559c1c2afbfc3b8ee8925be692d57f861c786) just to make sure I did it correct. Once confirmed, I will continue.
and couple questions.
1. I suggest making Osprey not translatable, since it is device name. I suppose you named it after bird?
2. is  Leipziger Messe a fair? where people sel

[2020-09-25 13:34] johnjohndoe commented on #328
I left some comments there - basically stating that you should only change/commit files which relate to the Russian translation and do not translate `placeholder` strings as mentioned above. With regards to your questions:

1. What are Osprey are your referring to?
2. It is just the location of the event. There are various fairs happening. It would okay to translate it as "fair" but it would also

[2020-10-01 15:55] 0x5ubt13 commented on #172
Hi, should this still be open I´d like to cooperate. I live in the UK but my first language is Spanish

[2020-10-01 16:00] johnjohndoe commented on #172
@0x5ubt13 Yes, this issue is still open. I updated the description lately. One part is to add new and missing strings but it would also be helpful to review existing translations.

[2020-10-01 23:35] larissayasin commented on #329
I like to work on this

[2020-10-02 02:36] romeroclaudino commented on #329
Hey there @larissayasin and @johnjohndoe! I can help you with the translation if you need it. I'm a Brazilian, therefore, I'm also a native Portuguese speaker. I also have experience in developing android applications.

[2020-10-02 06:29] johnjohndoe commented on #329
Hi @larissayasin and @romeroclaudino. Thank you for offering your help. I ask myself if it makes sense to have a Portuguese and a Brazilian translation. I can not tell myself if they would differ a lot. The existing translation has been made by people from Brazil. What do you think?

[2020-10-02 12:40] larissayasin commented on #329
I'm Brazilian too. It is more common to see brazilian portuguese translations in softwares anyway. I think I never saw a software with 2 Portuguese translations.

[2020-10-02 14:18] johnjohndoe commented on #329
Ah great. For me it is fine if you "only" work on the `-pt` files then. As a procedure I propose that @larissayasin starts with the translation and @romeroclaudino reviews her result as a language quality check (which I cannot do).

[2020-10-03 10:55] hiennghiem commented on #326
I like to work on this. Please assign it to me! :D

[2020-10-03 14:31] frangiz commented on #325
I can give this one a try. Just need to figure out how to find the Translations Editor on a new install of Android Studio.

[2020-10-03 16:53] johnjohndoe commented on #325
@frangiz Cool. Please let me know if you need assistance. You can also edit the files in any plain text editor such as Vi or Sublime Text. But it won't be as comfortable.

[2020-10-03 20:11] Omicron666 commented on #170
working on it #hacktobeerfest ^^

[2020-10-04 01:47] hiennghiem commented on #326
Hi there,
I've finished translating strings.xml using Translation Editor.
![Screen Shot 2020-10-04 at 08 44 04 AM](https://user-images.githubusercontent.com/30136208/95005084-cdb5e400-061d-11eb-81e2-398afe033969.png)

But it seems that I can't do the same with preferences.xml (there's no option for opening it with Translation Editor)
![Screen Shot 2020-10-04 at 08 40 20 AM](https://user-images.git

[2020-10-04 10:34] johnjohndoe commented on #326
It seems you identified to be a weakness of Android Studio. :disappointed: It does not automatically create a `values-ja/preferences.xml` file when one adds Japanese as a new language.
I would do the following: Copy `values-de/preferences.xml` to `values-ja/preferences.xml`, and then open the `Translation Editor`. It shows all strings both from `strings.xml` and `preferences.xml`. I recommend to c

[2020-10-04 11:55] hiennghiem commented on #326
I've just created the PR for this issue. Hope it might help.
https://github.com/EventFahrplan/EventFahrplan/pull/334

[2020-10-05 12:01] romeroclaudino commented on #329
Hey there!
I'm sorry guys, I have had some pretty busy days lately...
Sure @johnjohndoe! I can review it and I'm gonna do it today.

Also, I'm a participant at the Hacktoberfest and I was looking forward to contribute with at least one pull request.
The translation was complete done by @larissayasin or there's something left that allows me to create another one?

If she did that's wonderful. I cou

[2020-10-05 17:48] johnjohndoe commented on #329
Thanks for the offer. I don't want the README to be translated. English is a requirement for development on this project.
I might however have some another pull request later on.

If you are up for more you could jump over to [another project of mine](https://github.com/Umweltzone/Umweltzone) and add a Portuguese translation. Let me know if you need an issue there or if the information in one of t

[2020-10-05 23:20] romeroclaudino commented on #329
That would be wonderful @johnjohndoe!
I would appreciate if you could create the issue.

[2020-10-06 06:47] #329 closed

[2020-10-06 12:18] johnjohndoe commented on #329
@romeroclaudino Here you go: https://github.com/Umweltzone/Umweltzone/issues/81

[2020-10-06 12:19] johnjohndoe commented on #329
@larissayasin If you also want to help there you could split the work - one could do the FAQs.

[2020-10-10 19:15] #326 closed

[2020-10-10 20:15] johnjohndoe commented on #328
@rizabek-mukanov Did you have time to work on the translation? You can start a pull request at any time and we can make it perfect together.

[2020-10-21 15:32] johnjohndoe commented on #328
@rizabek-mukanov Can you please state if you will work on this? If you do not have time I like to offer the issue to somebody else.

[2020-10-21 15:42] rizabek-mukanov commented on #328
@johnjohndoe , hello. sorry, completely forgot about this, was busy at job. If i complete this on weekend, will that work for you?

[2020-10-28 16:41] johnjohndoe commented on #173
:spiral_notepad: This issue is open for contribution.

[2020-11-02 19:32] johnjohndoe opened #338 "Engelsystem / IllegalArgumentException: Unable to create converter for java.util.List<info.metadude.kotlin.library.engelsystem.models.Shift>"
# Environment
- Build flavor: `ccc36c3`
- Since commit: ef53203d3e73e92f0947387e0b1e4253aca01726
- Branch: `master`

# How to reproduce
1. Launch a **release** build
2. Visit the _Settings_ screen
3. Enter a valid _Engelsystem_ URL
4. Return to the main screen

# Observed behavior
- Nothing happens, a warning is logged to the console.
[code]

# Expected behavior
- The _Engelsystem_ shifts show up.

[2020-11-03 15:33] #338 closed

[2020-11-03 17:37] #318 closed

[2020-11-04 15:11] johnjohndoe commented on #319
@NiciDieNase Can you tell if the [JSON import in the Chaosflix](https://github.com/EventFahrplan/EventFahrplan/pull/241) app will be broken when I move from `id` to `guid` here?

[2020-11-04 23:20] cketti commented on #319
I think a better approach would be to use an auto-incrementing INTEGER column to uniquely identify a session in the database. This will keep the app simple in situations where stable numeric identifiers are required or at least very helpful (e.g. in a `RecyclerView.Adapter`).

This way only the code that maps between network model and app model has to be aware of GUIDs. If the identifier in the ne

[2020-11-06 23:15] #316 closed

[2020-11-17 19:07] johnjohndoe opened #346 "Tapping a session alarm notification scrolls the associated session out of view"
# Environment
- App version: [v.1.47.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.47.0)
- Android version: all
- Branch: `master`
- Device: all

# How to reproduce
1. Install the 36C3 app.
2. Schedule an alarm for a session (memorize the session).
3. Swipe the main schedule view to another column and time.
4. Tap the session alarm notification which shows up in the status bar

[2020-11-22 19:08] #170 closed

[2020-12-11 17:02] johnjohndoe commented on #319
:firefighter: This has become top priority because the merged schedule data for the upcoming [rc3](https://events.ccc.de/2020/09/04/rc3-remote-chaos-experience/) will **not** contain `id` attributes for all XML `event` nodes - but `guid` attributes!

[2020-12-12 17:13] johnjohndoe commented on #319
I extended the information in the "current state" section to clarify the currently used mechanism.

[2020-12-12 18:32] NiciDieNase commented on #319
No, should not be affected, chaoflix uses guid for importing.

[2020-12-16 22:30] johnjohndoe commented on #319
@cketti The work-in-progress of a new implementation can be found on the [`id-guid-migration-v2` branch](https://github.com/EventFahrplan/EventFahrplan/compare/id-guid-migration-v2).

[2020-12-24 12:44] johnjohndoe commented on #319
# :speaker: Update
- The aggregated schedule for the `rc3` event has been adapted.
- `id` values are [derived from `guid` values](https://github.com/voc/schedule/commit/0cbecc7eb7dc02b78db114395887e4018c01a3cc#diff-d1ae209f86fbd73d4afbfea42124e705a27cf91aa54399e7a801f88d70b4db64R382) to support the usage of `id` in client applications.
- The `id` is generated from the first **six numbers** found i

[2020-12-25 21:35] #346 closed

[2020-12-26 14:18] joergi commented on #30
I tested it in the newest version. I guess this ticket can be closed @johnjohndoe

[2020-12-26 16:21] joergi commented on #85
can you write down how the release build is triggered with gradle?
the [help](https://developer.android.com/studio/build/building-cmdline#ReleaseMode) is not so helpful tbh.

[2020-12-27 16:54] johnjohndoe commented on #85
You need to run the `assembleRelease` task for the designated product flavor. Execute the `tasks` task to see the most important tasks available in the project.
Then, you need to prepare a keystore using the `keytool` command as stated in the documentation in order to sign the release.

For the purpose of the CI use case I would just generate a dummy release keystore because the resulting APK will

[2020-12-27 21:29] kinafu opened #353 "Fahrplan for rC3"
To use the 36c3 Fahrplan App with the current data (rC3), manually change the schedule URL to the [URL given on this page](https://links.rc3.io/#android-apps-schedule).

(I just created the issue for others looking for the rC3 Fahrplan app or how to use the Fahrplan app with rC3.
The issue can be dismissed when the rC3 is over.)

[2020-12-27 22:36] johnjohndoe commented on #353
Thank you. But there is actually a dedicated version of the app which can be found here: https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.48.0

[2020-12-28 12:05] kinafu commented on #353
I only looked up [F-Droid](https://search.f-droid.org/?q=fahrplan&lang=de) and [Google Play Store](https://play.google.com/store/apps/details?id=info.metadude.android.congress.schedule) to check for a dedicated update for your Fahrplan app.
Thanks for already publishing a new version for the rC3 😄.

[2020-12-28 12:21] johnjohndoe commented on #353
Not your fault. It is just that Google and F-Droid did not process the apps to have it available on time. Still not :(
It is about time for somebody to set up a dedicated F-Droid repository such as https://fdroid.gitlab.io/ccc/ (not usable at the moment).

[2020-12-28 16:37] joergi opened #354 "Missing spaces if returns are not used (plus a null at the beginning) when sharing a text"
# Environment
- App version: 1.48.0
- Android version: Android 10
- Branch: Master
- Device: Faiphone 3+

# How to reproduce
1. go into event
2. press share button (as text)
3. share with an app, which is not using `\n` or `\r` ( I use [Social Slim for Twitter](https://f-droid.org/de/packages/it.rignanese.leo.slimtwitter/), an Twitter Client from F-Droid)
3. there is a text, with no spaces and `(n

[2020-12-28 17:10] cketti commented on #354
In my opinion it should be up to the app that ignores line breaks to take measures so the text remains readable.

Looking at the code I don't think the "null" string comes from the EventFahrplan app. It's probably an issue with the target app.

[2020-12-28 17:19] cketti commented on #354
This needs to be fixed here: https://github.com/rignaneseleo/SlimSocial-for-Twitter/blob/32dcd115f5e66e7a996edd351a4b81ca09781e22/SlimTwitter/app/src/main/java/it/rignanese/leo/slimtwitter/MainActivity.java#L94-L122

[2020-12-28 19:21] joergi commented on #354
@cketti + @johnjohndoe - the last release of the slim social app is from 2017 - the last commit to the default branch from 2018.

I understand, that the problem is not in the Fahrplan app.

So, does it make sense, to add it anyway?
a space before a return will not hurt anyway.

[2020-12-28 21:36] joergi commented on #354
I got info from @RignaneseLeo that [he will update the SilmSocial for Twitter,](https://twitter.com/RignaneseLeo/status/1343662817761701889) I will have a look if I can update it
Related issue: https://github.com/rignaneseleo/SlimSocial-for-Twitter/issues/19

[2020-12-29 12:11] johnjohndoe commented on #353
Google Play published version 1.48.0 today.
Meanwhile, there is an update available here: https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.48.1

[2020-12-29 12:13] johnjohndoe commented on #353
Looks like [Google Play](https://play.google.com/store/apps/details?id=info.metadude.android.rc3.schedule) is :racing_car: fast today. Version 1.48.1 is available there, too.

[2020-12-30 17:02] johnjohndoe commented on #346
# :bug: Broken again

- Right now (30.12.2020, day 4 of rC3) in version 1.48.2 on a tablet (tested in landscape mode) or phone (tested in portrait mode) the app selects the correct room but always scrolls to the **bottom** of the room when tapping the notification.

[2021-01-03 10:04] johnjohndoe commented on #353
Final last words, At 31.12.2020 the app also [appeared on F-Droid](https://f-droid.org/en/packages/info.metadude.android.rc3.schedule/) (first rC3 release) - too late, though :disappointed:.

[2021-01-03 10:04] #353 closed

[2021-01-09 12:23] johnjohndoe opened #361 "Tapping a session alarm notification scrolls to the bottom of the associated session room"
# Environment
- App version: [v.1.48.2](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.48.2)
- Android version: all
- Branch: `master`
- Device: phones & tablets

# How to reproduce
1. Install the rC3 app.
2. Set the system date to the date of the event (day 1 = 27.12.2020).
3. Schedule an alarm for a session on day 1 (memorize the session).
4. Swipe the main schedule view to anot

[2021-01-09 12:24] johnjohndoe commented on #346
:new: Bug filed here: #361

[2021-01-12 20:29] johnjohndoe opened #362 "List of favorites scrolls to the top when returning from details screen"
# Environment
- App version: [v.1.49.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.49.0)
- Android version: all
- Branch: `master`
- Device: phones & tablets

# How to reproduce
1. Create a long list of favorites which is **longer** then the device screen
2. Scroll to the bottom of the list
3. Tap a session to launch the session details screen
4. Tap the device `BACK` button t

[2021-01-19 19:05] #362 closed

[2021-02-08 17:33] steelman opened #368 "Going back from a favorite event to the schedule"
# Environment
- App version: 1.49.1-FOSDEM-Edition (f-droid)
- Android version: LineageOS 17.1 (Android 10)
- Branch:
- Device: river

# How to reproduce
1. In the schedule screen choose favorites in the upper-right corner.
2. In the favorites list choose an event.
3. Touch (click) the arrow in the upper-left corner.

# Observed behavior
- The initial schedule screen appears

# Expected behavior
-

[2021-02-08 18:03] johnjohndoe commented on #368
Thank you for submitting the issue.

The behavior you observed is actually intended. The arrow in the upper-left (`home` button) always takes you to the main schedule screen. The system `back` button takes you back one step. The `home` button is just a shortcut which might be used from time to time. As the `back` button is way better to reach with the thumb it is the intended navigation button mos

[2021-02-08 18:22] steelman commented on #368
If that is a feature, I am fine. However, on a slightly bigger screen when holding the device in one hand and operating with the other, after touching the bell icon on the toolbar it was easier (if only slightly) for me to reach for the `home` button. It frustrated me until by accident (as always) I discovered that the `back` button does what I need. So it's more about discoverability than the beh

[2021-02-08 18:55] steelman opened #369 "My workflow on FOSDEM2021"
First things first: the app is great! It helped me a lot during the last FOSDEM. However, my workflow is not entirely supported. Let me share it, so you can decide if it makes sense to support it.

I start with browsing the schedule around to find interesting lectures. From left to right from, top to bottom and back again. At this point I don't mind if the events overlap in time. I mark all events

[2021-02-09 20:09] johnjohndoe commented on #368
I am totally able to relate to the observations you made. Thank you for writing it down here. Let me take your findings and put them into a temporal perspective.

At the time when the toolbar was implemented (~2011) it was common practice to put all the icons to the top and the rest behind the overflow menu. Later a side drawer menu was used in many apps. That was a time when smartphones were smal

[2021-02-09 20:55] johnjohndoe commented on #369
Thank you a lot for your feedback. I enjoyed reading it and consider it as very valuable for the development of the app. I hope more users take your post as an example to follow after. Also, I am glad that the app helped to make FOSDEM a nice experience.

I understand that you need the favorites screen to spot the holes if the conference program is so big that the schedule grid does not help that.

[2021-02-09 23:05] steelman commented on #231
As far as my comments at #369 I was talking about entries of the favorites list ![IMG_20210209_235957](https://user-images.githubusercontent.com/77683/107440057-57793f00-6b33-11eb-9c0c-2b5fbaf7b68d.jpg) so the bottom line says

and not about the detailed view.

[2021-02-09 23:14] steelman commented on #100
And/or rearrange the order of the columns. When I was searching for interesting sessions at FOSDEM2021 I found myself always swiping through a few tracks in the middle of the schedule. Having these columns at the end but not necessarily hidden would be nice too.

[2021-02-09 23:21] steelman commented on #12
_A quick idea from #369_: change the favorites icon in the toolbar to a tagged icon (with a tag instead of a star) click it to display a list of events with any tag on them (maybe without uninteresting?). Hold the icon to choose a single tag to filter (including uninteresting). Leave alarms icon as is (maybe use the same format as for favorites). With a generic view of list of tagged sessions it s

[2021-02-09 23:46] steelman commented on #369
You've got most things right. So just to clarify a few things.

I don't think zoom would help. At least not with FOSDEM sized schedule. Scrolling up and down the favorites list of about 20 elements and checking their boundaries, even doing simple math, is way simpler that swiping around a schedule that doesn't fit my 24" desktop monitor. Having favorites displayed as a single column in the schedul

[2021-02-21 20:17] johnjohndoe commented on #369
Thank you for the clarifications and your further suggestions.

Interesting. I don't remember that **multi-select** was ever mentioned as a feature request.

[2021-02-24 20:31] #260 closed

[2021-02-28 11:57] johnjohndoe commented on #361
:disappointed: I cannot reproduce the issue with version 1.48.2. Closing here.

[2021-02-28 11:57] #361 closed

[2021-02-28 22:18] johnjohndoe opened #371 "Use targetSdkVersion 30, Android 11"
:calendar: Due before November 1, 2021.

# Background
- [Meet Google Play's target API level requirement](https://developer.android.com/distribute/best-practices/develop/target-sdk.html)
- [Target API level requirements for the Play Console](https://support.google.com/googleplay/android-developer/answer/113469#targetsdk)
- [Android 11 behavior changes: all apps](https://developer.android.com/about

[2021-03-03 21:35] #69 closed

[2021-03-12 19:39] #371 closed

[2021-04-04 15:04] johnjohndoe commented on #354
@joergi Has this been resolved in the other app?

[2021-04-06 19:23] #369 closed

[2021-04-06 19:25] #368 closed

[2021-04-07 16:46] johnjohndoe opened #381 "Sessions grid view scrolls to current time when returning from details screen"
# Environment
- App version: [v.1.50.0-DiVOC-Edition](https://github.com/johnjohndoe/CampFahrplan/releases/tag/v.1.50.0-DiVOC-Edition)
- Android version: all
- Branch: `master`
- Device: phone & tablets

# How to reproduce
1. Set the system time to the date and time of the event.
2. Select the corresponding day in the app. The schedule scroll to the current time.
3. Scroll to a session before or a

[2021-04-08 17:07] #381 closed

[2021-04-10 01:07] cketti commented on #354
The bug in SlimSocial for Twitter hasn't been fixed yet. But there's a PR now: https://github.com/rignaneseleo/SlimSocial-for-Twitter/pull/20

I see no reason why such a bug in another app should be worked around in EventFahrplan. I'd close this issue.

[2021-04-10 13:14] #8 closed

[2021-04-12 07:48] joergi commented on #354
Thanks @cketti
I would suggest the same @johnjohndoe.

[2021-04-12 09:07] #354 closed

[2021-04-13 12:28] johnjohndoe opened #386 "Configure code coverage with JaCoCo"
# Current state
- The project is configured for https://sonarcloud.io via [_gradle/sonarqube.gradle_](https://github.com/EventFahrplan/EventFahrplan/blob/master/gradle/sonarqube.gradle). See https://sonarcloud.io/dashboard?id=eventfahrplan.
- SonarQube is being used from time to time to check the current statistics. This happens by manually executing either `./gradlew sonarqube` on the `master` br

[2021-04-17 18:50] johnjohndoe commented on #52
@Siltaar The feature to share individual sessions or all favorites with the [_Chaosflix_ app](https://play.google.com/store/apps/details?id=de.nicidienase.chaosflix) has been implemented and released in version 1.42.0 of the [_36C3 Schedule_ app](https://play.google.com/store/apps/details?id=info.metadude.android.congress.schedule). See #241 for more details and screenshots.

As far as I know the

[2021-04-17 18:50] #52 closed

[2021-04-17 18:50] johnjohndoe commented on #48
Closing it myself now.

[2021-04-17 18:50] #48 closed

[2021-04-17 19:03] johnjohndoe commented on #30
@sedrubal The Engelsystem shifts feature has been released since [version 1.41.0](https://github.com/EventFahrplan/EventFahrplan/milestone/20?closed=1) at [36C3.](https://events.ccc.de/congress/2019/) It was available at later events whenever some instance of the Engelsystem was used.
Please comment here or close the issue if the feature satisfies your initial request.

[2021-04-17 20:23] johnjohndoe commented on #146
Source: https://developer.android.com/studio/intro/studio-config#adjusting_heap_size

From my understanding it make sense to keep the JVM arguments to the individual developer because each developer machine potentially has difference hardware resp. capabilities. @akarsh If you agree I ask you to close the issue.

[2021-04-17 21:51] akarsh commented on #146
True I agree with you.
I am closing this issue.

[2021-04-17 21:51] #146 closed

[2021-04-19 08:35] sedrubal commented on #30
Thank you! I'll close this and test it on the next event. If there are further issues, I'll reopen that issue.

[2021-04-19 08:35] #30 closed

[2021-04-23 12:38] #321 closed

[2021-04-23 13:35] #232 closed

[2021-08-31 15:01] Thewisem commented on #80
Also list your fdroid app link in the readme so that people can install this app on the fdroid website

[2021-08-31 15:18] johnjohndoe commented on #80
@Thewisem There is not "one" app created from this project. There are multiple build flavors which are individually published on Google Play and/or F-Droid. I decided not to put links for all these apps in the README. Do you think it makes a difference to add F-Droid links next to the existing links? My assumption would be that people who find the link and know about F-Droid know how to find the a

[2021-09-02 15:30] Thewisem commented on #80
But it would be better if people were to find your github page and you link it from there. What's the harm?

[2021-09-02 18:47] johnjohndoe commented on #80
I can certainly do it for the Congress and Camp apps. I won't do it for all the others.

[2021-09-02 22:33] Thewisem commented on #80
Fine at least do that please

[2021-09-09 20:57] johnjohndoe commented on #80
@Thewisem :heavy_check_mark:  Done in 31dc5f80a8f333ee7b3f41d91128260f1291d732.

[2021-09-10 06:32] Thewisem commented on #80
Thanks

[2021-09-18 08:00] johnjohndoe opened #402 "NullPointerException: Attempt to invoke virtual method 'void RecyclerView$Adapter.notifyDataSetChanged()' on a null object reference"
Crash report from multiple users:

- Sent: 27.05.2020, 27.12.2020, 18.02.2021, 17.09.2021
- App version: 1.43.1, 1.47.0, 1.48.0-rC3-Edition, 1.52.0-LibreOffice-Edition, 1.52.1-DebConf-Edition
- Android version: 7.1.1, 7.1.2, 10, 11
- Device model: Pixel 2, Nexus 9, SM-M515F, GT-I9195, M2101K7AI

# Stacktrace
[code]

# Log
[code]

# User report
- nothing yet

# Related
- nothing yet

[2021-09-25 21:53] saerdnaer commented on #319
@johnjohndoe Whats the current state of this issue?

[2021-09-26 17:42] johnjohndoe commented on #319
@saerdnaer Paused. I will pick up work on the topic again in October 2021.

[2021-10-03 08:40] krishnapriyar commented on #402
I've been looking into this but so far have been unable to reproduce it. If there are any certain steps to reproduce, that'll be good to know

[2021-10-03 09:46] johnjohndoe commented on #402
Same here. I hope the extended logging brings new insides.

[2021-10-24 01:47] luisAzcuaga commented on #172
I'm helping with this! 😁

[2021-10-25 09:44] johnjohndoe opened #411 "Add back arrow to favorites screen"
_Originally posted by @cketti in https://github.com/EventFahrplan/EventFahrplan/pull/404#pullrequestreview-781050635_

[2021-10-25 09:46] johnjohndoe opened #412 "Add loading state to favorites screen"
_Originally posted by @cketti in https://github.com/EventFahrplan/EventFahrplan/pull/404#pullrequestreview-781050635_

[2021-11-11 10:10] johnjohndoe commented on #319
@saerdnaer I haven't been able to continue here. I likely have to stick to IDs for rC3.rev2.

[2021-11-24 11:27] johnjohndoe opened #420 "Use targetSdk 31, Android 12"
:calendar: Due before: *not announced yet*.

# Background
- [Meet Google Play's target API level requirement](https://developer.android.com/google/play/requirements/target-sdk)
- [Target API level requirements for the Play Console](https://support.google.com/googleplay/android-developer/answer/113469#targetsdk)
- [Android 12 features and changes list](https://developer.android.com/about/versions/1

[2021-12-09 18:00] rotsq commented on #173
I like to work on this

[2021-12-09 20:23] johnjohndoe commented on #173
@rotsq Nice. Please let me know if you need help at some point.

[2021-12-12 08:28] rotsq commented on #173
@johnjohndoe what is the context of this message: _No fitting app installed._ (share_error_activity_not_found)?

[2021-12-12 10:00] rotsq commented on #173
@johnjohndoe forget the last one, I managed to get the context of `share_error_activity_not_found` from the German text.

However, I have yet another question: is there anything to be actually translated in `preferences.xml`? My feeling is that the keys partially overlap when compared to `strings.xml`. Or, let me rephrase: assuming that I translated `strings.xml` (I need to take care of plurals on

[2021-12-12 13:03] johnjohndoe commented on #173
Yes, the strings in _preferences.xml_ has to be translated, too. It should not contain duplicate keys with regards to _strings.xml_. Please exclude strings which are marked as non-translatable as pointed out above. You can take the German translation as a blueprint.

[2021-12-12 15:34] rotsq commented on #173
OK, so apparently, when I used `strings.xml` from the `values` folder (English strings) and translated it all to Polish, the German `preferences.xml` has only the strings that are already contained in English `strings.xml`. So I used the Italian empty `preferences.xml` as a source for this file.

Last question (I think): are the three optional tasks above still valid (i.e. translating small event-

[2021-12-12 15:54] johnjohndoe commented on #173
Yes, the translation are put into `strings.xml` by Android Studio by default. It is not very comfortable. From what I know you need to move the strings for `preferences.xml` manually into the file. Sorry for the inconvenience! I can also do that - don't worry.

The event related XMLs would be appreciated since I can reuse parts for a follow-up event. Specially, the `rC3` strings will be used soon.

[2021-12-12 16:37] rotsq commented on #173
OK. I think we are good with everything, including past events, quotes, and newlines, plus correct locations of `preference*` strings. Pull request on the way.

[2021-12-14 19:52] #173 closed

[2021-12-15 10:19] johnjohndoe opened #427 "Complete and update Spanish translation"
It would be nice to have a complete Spanish translation of the app. :es:

The _Translation Editor_ in _Android Studio_ let's you easily identify the **missing** translations as shown in the screenshot. Existing translations might be **outdated** or **incomplete** and must be checked critically.

![Android Studio Translation Editor](https://user-images.githubusercontent.com/144518/146167475-5b4a149

[2021-12-15 10:33] Delawen commented on #427
Is there any other tool that is not Android Studio to do this?

Thinking on some tools like https://www.transifex.com/

[2021-12-15 10:58] johnjohndoe commented on #427
I haven't set up Transifex or alternatives yet. You can edit the respective files with a **plain text editor** (Sublime Text, ...), though - if you prefer. You will need to compare with another **complete** language, e.g. German or Polish.

[2021-12-23 21:43] rotsq opened #431 "Android 7.0: Certificate could not be added"
# Environment
- App version: [1.53.0-rC3-Edition](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.53.0)
- Android version: 7.0 (Nougat)
- Branch: `master`
- Device: Samsung SM-T815 (Samsung Galaxy Tab S2)

# How to reproduce
1. Open the EventFahrplan app
2. Click _Refresh/Get schedule_ button in the upper right corner
3. The error dialog appears

# Observed behavior
- Error message

[2021-12-23 23:10] johnjohndoe commented on #431
@rotsq Thank you for the error report. I cannot reproduce the behavior yet. Here are some questions which hopefully shed light:

1. Did you install the app fresh or did you update from having the `rC3 Schedule 2020` installed on the device?
2. Can you reproduce the error on another device (with another Android version)?
3. Is the error persisting or did it occur only once? Did you find a workaroun

[2021-12-24 09:49] rotsq commented on #431
@johnjohndoe, answering your questions:
1. `rC3 Schedule 2020` was already installed, I did an update via Google Play.
2. I don't have any other Android device to test on. But given that others did not report this bug and (most likely) the app is already used for upcoming event, I might be a rare case with this situation.
3. The error is persisting, meaning I can recreate this behaviour with every

[2021-12-24 11:54] johnjohndoe commented on #431
Thank you. I suspect it might happen because of the SSL support of the specific Android version. @cketti, @schildbach probably know immediately.

[2021-12-24 12:20] schildbach commented on #431
Seems like this issue: https://community.letsencrypt.org/t/android-7-0-cant-establish-ssl-connection/152050

[2021-12-24 13:10] schildbach commented on #431
According to the comments in the issue linked above, the issue can be worked around by the server admins to switch their certificate from ECDSA to RSA, or from EC-384 to EC-256 (bits).

[2021-12-24 17:14] johnjohndoe commented on #431
@rotsq The issue seems to be specific to Android 7.0 (7.1.1 is not affected) from what I understand from the reseach of @cketti and @schildbach.

A possible workaround is to configure an alternative HTTP URL in the Settings screen of the app. I contacted the rC3 infrastructure team. As soon as an URL is available I will post it here.

[2021-12-24 18:32] rotsq commented on #431
@johnjohndoe If I'd know the original HTTPS URI I could simply make a workaround for it by passing it through my SSL RSA-key-based infrastructure, but I believe it is `nowhere` to be found in this repository, since it is event-specific. Could I ask you to share it with me? If it is not public, just send me an e-mail.

[2021-12-24 18:34] johnjohndoe commented on #431
@rotsq No, it is public. It would be great if that works. See here:

https://github.com/EventFahrplan/EventFahrplan/blob/master/app/build.gradle#L123

[2021-12-24 18:57] rotsq commented on #431
@johnjohndoe It works - if someone will have the same problem and there won't be an official workaround until the event starts (i.e. hosted by CCC) or a solution for the problem, I will share the link in this issue. In the end, it is based on SSL using EC 256 and works well.

[2021-12-26 21:53] rotsq commented on #431
Here we go with the alternative link for the schedule that works for Android 7.0:

`https://altschedule.world/everything.xml`

The original schedule is fetched every 15 minutes.

[2021-12-28 19:02] rotsq commented on #431
Isn't there a parsing error for quite some time with recent updates of the schedule, @johnjohndoe? My (over `altschedule`) and my colleague (directly from source) encounter that.

[2021-12-28 19:33] johnjohndoe commented on #431
@rotsq I saw it once a few minutes ago. @cketti notified me. We try to let c3voc sort it out.

[2021-12-28 19:56] johnjohndoe commented on #431
@rotsq The parser error is not specific to Android 7.0 nor this issue. @saerdnaer from the c3voc team is working on it.

[2021-12-28 19:59] rotsq commented on #431
Thank you for this update. I knew that it is unrelated, but I thought that maybe this tread will be OK, sorry if I introduced some confusion.

[2021-12-28 20:11] johnjohndoe commented on #431
No worries. The latest version should be fine again. Thanks to @cketti and @saerdnaer. I just connected them.

[2021-12-29 18:02] johnjohndoe opened #432 "List of favorites scrolls to the top when returning from details screen after delay"
# Environment
- App version: [v.1.53.0](https://github.com/EventFahrplan/EventFahrplan/releases/tag/v.1.53.0)
- Android version: not relevant
- Branch: `master`
- Device: not relevant
- Prepare a list of favorites which is longer than the screen is high

# How to reproduce
1. Visit the favorites screen, scroll to the bottom of the list.
2. Tap a session at the bottom of the list which opens the de

[2021-12-29 22:46] isiko commented on #7
I would like to try and fix this

[2021-12-29 23:25] johnjohndoe commented on #7
Great. Please re-evaluate which screens are affected since this issue is rather old. Please reach out if you like to discuss your approach.

[2021-12-29 23:30] isiko commented on #7
I already fixed the Favorites page by removing some margins and paddings that had pushed the ScrollBar off the screen (I couldn't see any difference in the layout after removing them, so I figured they wouldn't do anything important)

I'm working on the details layout now, I'm just getting into the structure.

[2021-12-30 15:50] isiko commented on #7
Update:
The Details Screen already shows a Scrollbar.
Also, the change list looks like it has the same problem as the favorites page (the layout extends beyond the edge of the screen on both pages), but unfortunately since there are no changes I can't verify that

[2022-01-03 17:13] #7 closed

[2022-01-05 16:26] johnjohndoe opened #435 "Add dates to day selection menu entries"
# Current state
- The day selection menu shows an entry for each conference day.

  ![screenshot](https://user-images.githubusercontent.com/144518/148251324-aae66f76-9634-49b8-ba3b-a226dd2ccc70.png)

- If the current date matches one of the days in the menu then the relevant menu entry is marked with the `- Today` text.

  ![today](https://user-images.githubusercontent.com/144518/148251823-0eab8dd

[2022-01-15 12:38] isiko opened #439 "Add Comments to Code and Layout Files"
It would be very helpful if the code was better commented to help find what you are looking for. A possible conventions would be:

- One comment at the beginning of each file describing the purpose of the content.
- One comment per method and attribute explaining the purpose of the content.

[2022-01-15 13:41] isiko opened #440 "Move DetailBar out of Scroll View"
At the moment, the Detail Bar is inside the ScrollView, so depending on the ScrollBar style, it is either sometimes covered by the ScrollBar, or there is a relatively awkward gap where the padding for the ScrollBar is.

## Using an Inset
<img src="https://user-images.githubusercontent.com/44641688/149623445-f104a6c6-8a17-43a1-84de-a0f3e67670b3.png" alt="inset" width="200"/>

## As anOverlay
(I col

[2022-01-15 13:42] isiko commented on #440
Also, I would work on this

[2022-01-15 13:45] isiko opened #441 "Add custom ScrollBar"
Currently the ScrollBar is just a transparent rectangle on the side of the screen. It would be cool to be able to change the color of it or to add round edges.

Also, as mentioned [here](https://github.com/EventFahrplan/EventFahrplan/pull/434#pullrequestreview-842892565) it would help with the visibility if the background is white, because in that case the ScrollBar would be white on white.

[2022-01-15 13:45] isiko commented on #441
I would do this, as I allready have part of a fix for this

[2022-01-15 19:51] johnjohndoe commented on #441
Yes, this is definitely a place that needs improvement. Here is a rough idea of how it could work:

- [ ] Extracting a color resource for the `main` build flavor.
- [ ] Overwriting the color in the other build flavors if needed, e.g. `ccc36c3`.
- [ ] Wrapping the color resource into a style in `styles_congress.xml` if needed.
- [ ] Applying the style to the `ListView` or just to the `ScrollBar` if

[2022-01-15 19:57] johnjohndoe commented on #441
@isiko Please remember to create a **separate** branch for each topic/pull request. Please do **not** commit on the `master` branch. More here [contribution guideline](https://github.com/EventFahrplan/EventFahrplan/blob/master/CONTRIBUTING.md).

[2022-01-15 20:13] johnjohndoe commented on #440
In the `rC3` build flavor the background of the whole screen is dark. The scroll bar color is some transparent white value. Thereby, both the background as well as the DetailBar shine through. I kind of like this transparency effect. Of course this does not work with white on white - but would be fixed once #441 is done.

The DetailBar itself does not contain too important information - in my opin

[2022-01-15 20:25] johnjohndoe commented on #439
Thank you for pointing this out. It can be difficult to notice this once you worked on a project for a while. :see_no_evil:

Can you please point out concrete examples of where you got stuck? I ask because the overall attempt is to use package, class, function, field and variables names which are **self-descriptive**. If that is not the case it is better to **change** the name instead of adding a

[2022-01-15 20:50] isiko commented on #441
I wrote a simple implementation of this earlier, which can be found [here](https://github.com/isiko/EventFahrplan/tree/customScrollBar). It doesn't seem to be possible to change the ScrollBar directly, the only possible way seems to be to specify a drawable which is then displayed instead of the transparent rectangle. This can then be used to define color, radius of the corners, etc.In my implemen

[2022-01-15 22:03] johnjohndoe commented on #441
I had a short glimpse over your implementation. It looks good so far. - Take your time. I will take a look tomorrow or at the beginning of the week.

It is well possible that `android.widget.ListView` does not allow to be styled. Did you have a look at the [source](https://cs.android.com/android/platform/superproject/+/master:frameworks/base/core/java/android/widget/ListView.java?q=android.widget.

[2022-01-16 00:19] johnjohndoe commented on #439
:bulb: If the initial overview in the project is the challenge then I am happy to give you a **guided tour** :footprints: through code base of the project at some point via screen sharing. Let me know.

[2022-01-16 12:05] isiko commented on #441
I didn't know this page existed, but there isn't much information about adding your own ScrollBar unfortunately, the only helpful pages I found were stackoverflow posts like [this one](https://stackoverflow.com/questions/14171755/custom-scrollbar-android#14487645). I also searched the documentation, but the only thing I found there were the attributes I already used in the code. This seems to indi

[2022-01-18 20:17] isiko commented on #440
I actually haven't thought about these effects but I also think that something like this would be a cool effect to keep. My only problem is that if the width of the ScrollBar is set too high, part of the EventID is obscured, which is probably not intentional. This should probably be included in #441, but perhaps it would be helpful to put some padding on the right side of the padding and use the w

[2022-01-18 20:42] isiko commented on #439
First of all, thanks for the quick reply! I also think that self-describing code is often much better than adding a whole novel to each method.

So far I've only looked at the layout side of the project, so I can't say anything about the code, but one example would be the multiple layout files for the details fragment.It's not immediately clear why 5 layout files that have almost the same content

[2022-01-18 21:24] isiko commented on #441
Ok, after not finding anything in the layout files, I started to examine the code and finally got lucky. It seems that in several lines of code the `Theme_AppCompat_Light` is used instead of the `Theme_Congress_NoActionBar` or `Theme_Congress`. The line that caused the problem with the Favorites screen was [this](https://github.com/EventFahrplan/EventFahrplan/blob/44898d5b21cd117efcf24d33d5b03efba

[2022-01-18 21:36] johnjohndoe commented on #439
I am happy to clarify your findings as far as I can:

- There are different layout files for smartphones and tablets. That is perfectly correct. If you look for their usage then you will find the code location where it is decided which one is used.
- There are even more layout files in `layout`, `layout_port`,  `values-sw600dp`, `values-xlarge`, ... which is **truly confusing** if you are familiar

[2022-01-18 22:16] johnjohndoe commented on #441
The theme/styling was added in the early days of the project (2014), see cea61b4e2382b32d869601d09b312cb44342c85e (initial style adjustments to changes screen) and b29e454f90c82c2e105954457535e53287e51980 (using AppCompat) and 66057d00e47979b6dc40a92b5740bf3a0c3d41ae (adding favorites screen as a copy of the changes screen).

Feel free to challenge everything in this project. There might always be

[2022-01-19 08:43] johnjohndoe commented on #440
I agree that it does makes sense to relate the values (width of the scrollbar and padding of the detailbar) to **protect** the layout from customization done by some developer. In this case I suggest applying the value **both** to the left and the right side to keep the padding of the detailbar **symmetric**. Please note that the date text in the detailbar **horizontally aligns** with the texts (t

[2022-01-20 17:50] isiko commented on #435
I would like to work on this, although I would suggest using just the Day of the week, instead of the full Date, for a couple of reasons:
1. Displaying just two chars is a lot more compact than displaying the whole date and would fit better for phones in portrait
2. The year and normally also the month doesn't change throughout the event, so they would be displayed multiple times, even though need

[2022-01-21 10:52] isiko opened #448 "Complete switch to Kotlin"
17,8% of the Code is still using java instead of kotlin. As Android Studio already provides a tool for transpiling to kotlin, this shouldn't be that hard.

[2022-01-21 10:53] isiko commented on #448
I would like to work on this

[2022-01-21 11:10] johnjohndoe commented on #448
Yes, you can work on this. Until now Java code has been converted to Kotlin when there was **a need** for it or when this part of the code was **rewritten**.

Please keep in mind that the converter of Android Studio does **not** produce **error free** and **idiomatic** Kotlin. It will very likely be necessary to **manually** correct a few things here and there.

Please create **separate** pull req

[2022-01-21 11:54] isiko commented on #448
Thanks! I'll also try to keep the formatting as close to the original as possible, as Android Studio also doesn't seem to care about readability 👍

As requested, here's the checklist:

### Database
- [ ] `database/src/main/java/info/metadude/android/eventfahrplan/database/sqliteopenhelper/AlarmsDBOpenHelper.java`
- [ ] `database/src/main/java/info/metadude/android/eventfahrplan/database/sqliteopen

[2022-01-21 12:10] johnjohndoe commented on #448
Please postpone working on files which are modified in other open branches or pull requests to avoid nasty rebase conflicts.

[2022-01-21 15:56] isiko commented on #448
I've added a note to all Files I found in the branches in the original repo, for the forks I'm currently searching for a way to automate listing the changes made to the files as I don't want to go through 74 Forks by hand 😅

[2022-01-21 17:39] johnjohndoe commented on #448
:+1: I think that is fine. There is not much other work in the pipelines except what you see in the main repository and the pull requests. Thanks for the listing.

[2022-01-22 19:55] #440 closed

[2022-01-22 19:55] #441 closed

[2022-01-24 09:55] johnjohndoe commented on #448
I suggest to also exclude the UI classes of the **alarms screen** because they are subject to be **re-implemented**. It does not make sense to convert the **legacy** code to Kotlin.

[2022-01-24 11:49] isiko commented on #448
Removed them from the List 👍

[2022-01-24 13:49] isiko commented on #448
As I'm waiting for #449 to go through, I started transpiling the `schedule` package and I've got 2 questions about the [HorizontalSnapScrollView.java](https://github.com/EventFahrplan/EventFahrplan/blob/99f128c6ddb9cf47beb0de2ba034750ff6d44df6/app/src/main/java/nerd/tuxmobil/fahrplan/congress/schedule/HorizontalSnapScrollView.java):
1. [These](https://github.com/EventFahrplan/EventFahrplan/blob/99

[2022-01-24 15:46] johnjohndoe commented on #448
Please look up in the Git history when they became unused. It might be an mistake or on purpose. I can't tell without looking myself. If you find it please document it in the commit message. If not I will have a look.

It looks like as if `activeColumnIndex` could be a read-only property. Please try.

I don't have too much time these days but its on my list.

[2022-01-25 20:52] isiko commented on #448
I just realized that `id-guid-migration-v2` is a stale branch and judging from the Date of the Last commit, it seems as if the actual work is one on `id-guid-migration` and `id-guid-minimal-migration`. If my judgment is correct, do I have to wait for the changes of `id-guid-migration-v2` to be merged, or is there a good chance that they never will be merged?

I'm just asking because it seems like

[2022-01-25 22:30] johnjohndoe commented on #448
You can concentrate on excluding files being modified on `id-guid-minimal-migration` for now. It is the latest approach to implement the migration. I however did not have the time to finish the work due to other priorities. I will pick up work as soon as possible since the migration is important for staying compatible with the backend.

[2022-01-26 22:16] #439 closed, assigned to johnjohndoe, isiko

[2022-01-27 02:03] matmair commented on #427
@johnjohndoe would you be ok with crowdin as a translation service? I set it up on a few FOSS projects before and would be happy to create a PR.
Crowdin provides a nice way to have a single PR you can merge back in once you want to update (so you can have a string-change freeze for all the translators to finish) and has build in translations so common translations are recommended.
Loved your rc3 t

[2022-01-27 07:29] johnjohndoe commented on #427
@matmair Thank you for the initiative. I have **not** compared [Transifex](https://www.transifex.com), [Weblate](https://weblate.org), [Crowdin](https://crowdin.com), ... yet. If you have experience with Crowdin, believe it fits ([restrictions of the free plan](https://crowdin.com/pricing#crowdin-pricing-key-features)) with the project and want to set it up then that would be great. :+1: Do you ha

[2022-01-28 21:21] isiko commented on #448
Hey, I've transpiled the `AboutDialog`, `UpdateService`, `TraceDroidEmailSender`, `OnBootReceiver`, `BuilderException` and `OnSidePaneCloseListener` Classes.
As those were rather small transpiles and didn't result in any changes to other files, I just put them all in one branch (`transpileMinorClasses`) and would now like to open a pull request. Would it be easier for you if I put all the changes

[2022-01-28 22:21] johnjohndoe commented on #448
Without having a closer look I'd say that it would be most convenient to have each file converted in a separate commit if they are unrelated. All commits can then be checked (and compiled in isolation) and pushed as one branch / pull request.

[2022-01-28 23:54] matmair commented on #427
@johnjohndoe I do not really have a preference for either Crowdin or Transifex, I just find Crowdin to be a lower maintenance community - but that could be down to projects I work on/with.
Crowdin provides open-source projects with a free pro version and I use that with other projects.

My language selection is somewhat limited, I can do Austrian, German, English, a bit of French if pressured. But

[2022-01-31 07:43] Delawen commented on #427
I have some spare hours I can use to translate to Spanish. But if I have to manage the files manually, those hours will not do much. That's why I asked if there's any tool.

I haven't used crowdin, but it looks like something I can work with. So +1 to that.

[2022-01-31 09:57] johnjohndoe commented on #427
Thanks @matmair and @Delawen for your commitment. As soon as I have a bit of time I will jump in here. Please be patient with me.

[2022-01-31 23:56] matmair commented on #427
@johnjohndoe no hurries, it is a hobby after all😇.
@Delawen if you have time and want to you can use the linked test instance to translate. The translations get merged into the master_l10n branch of my fork. Either you or I can submit the diff to upstream, however you like. If I should submit a PR just ping me!

[2022-02-02 18:08] johnjohndoe commented on #431
Given the workaround I would close this. Not sure if it could easily be patched at the client. Are you okay with this @rotsq?

[2022-02-03 08:11] rotsq commented on #431
@johnjohndoe, I think we can do so, but I wonder how to have it somewhere noted such that the knowledge on that would be easily findable (but, apparently, there is no wiki). Or, if you believe that searching issues/repository should be enough, it is also fine.

And let me thank also @schildbach and @cketti for investigating the root cause of the problem.

[2022-02-05 13:48] NWuensche opened #458 "Take load of main thread when using context menu"
# Environment
- App version: 1.53.2-DEBUG
- Android version: /
- Branch: master
- Device: /

# How to reproduce
1. Long press on any talk
2. Either set alarm or add/remove from favorites
3. Try to scroll in the next 5 seconds

# Observed behavior
Screen completely freezes

# Expected behavior
screen does not freeze

[2022-02-05 13:49] NWuensche commented on #458
I will try to fix this. Unfortunately, I cannot assign myself in Github

[2022-02-05 15:28] NWuensche commented on #458
One thing that makes the UI freeze is the execution of `addRoomColumns` on the main thread. One can already make UI stutter instead of freezing completely by moving everything from `FahrplanFragment#addRoomColumns` onto another dispatcher (besides the `columnsLayout.removeAllViews/addView()` calls. I will try to make `addRoomColumns` a `suspend fun` to keep the order of the calls while still movin

[2022-02-05 16:28] johnjohndoe commented on #458
That looks like a good finding. :+1: I like to point out that before I rewrote the architecture in #424 there was some optimization in place in `addRoomColumns` which @ideadapt came up with. See https://github.com/EventFahrplan/EventFahrplan/pull/424/commits/cc9817e4710a50ab526c7f92f94ae7aa9d9c389e#diff-e5f038c42b28c16dde7f44ec5e12af21c097bac060e1bf060a162e8cad6e3634L331-L346. You might be able to

[2022-02-05 17:07] johnjohndoe opened #459 "SQLiteCantOpenDatabaseException: Cannot open database, Directory doesn't exist"
Crash report from a user:

- Sent: 04.02.2022
- App version: [1.53.1-FOSDEM-Edition](https://github.com/johnjohndoe/CampFahrplan/tree/v.1.53.1-FOSDEM-Edition)
- Android version: Lineage 18.1
- Device model: Redmi

# Shortended log
[code]

# Full log
[code]

# User report
- The app crashes at startup.

[2022-02-09 23:13] matmair commented on #427
@johnjohndoe kingu are right about their observations, all named tools have their own unique upsides.

The main reason I like Crowdin is that their interface is changing in nice small steps and everything is simple. If you translate you only need 2 views: the project overview to see how much of each language is done and the editor. There are filters, autotranslations, discussions, approved strings

[2022-02-15 09:44] johnjohndoe commented on #427
I created [a Crowdin project](https://crowdin.com/project/eventfahrplan) a few days ago and invited @matmair to it. Once you have time please check if the setup makes sense and if the trial plan is good or if I picked something wrong.

[2022-02-15 23:01] matmair commented on #427
@johnjohndoe the strings are imported and ready - now it only needs translating beings 😇.
@Delawen the platform is [live now](https://crowdin.com/project/eventfahrplan). If you or anyone of the FOSS4G community (thanks for the effort there!) want, I will clear(approve all issues/translation at least weekly.

[2022-02-16 13:39] johnjohndoe commented on #427
:bellhop_bell: I created a discussion thread for general purpose topics. Please continue in #464 if anything comes up.

[2022-03-25 08:19] #420 closed

[2022-03-30 15:42] johnjohndoe commented on #458
# :point_right: Considered useful
- Android Developers, [Troubleshooting app performance issues with System Trace in Android Studio 4.x](https://www.youtube.com/watch?v=EjmIit_amnE), 31.07.2020

[2022-04-02 10:33] isiko opened #479 "Improve Horizontal Fling behavior for the Schedule Screen"
Currently the number of Columns Scrolled when Flinging often feels kind of unpredictable and inconsistent, especially on Handys in portrait mode. I think this is because the amount is calculated by the Velocity with which the user Scrolls and some values. This could probably be improved by always flinging by the number of Columns displayed, effectively lining by one 'page'. Also, if only one Colum